Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

chore: add classify animal example
  examples/agents/classify_animal/classify_animal.py
  examples/agents/classify_animal/example_images.txt
  examples/agents/classify_animal/image1.jpg
  examples/agents/text_summarizer/__init__.py
  pyproject.toml
Due: ruff

GitHub-295 Experiment Page input_schema_varibles and other JSON and Schema based values in unique value section are not showing the value content
  web/src/app/completions/sections/table/cells/CompletionOutputSchemaCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
  web/src/app/experiments/[id]/page.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionDifferenceItem.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionDifferencesView.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionSchemaSection.tsx
  web/src/auth/clerk/UserButton.tsx
  web/src/components/ActivityIndicator.tsx
  web/src/components/JSONDisplay.tsx
  web/src/components/LoadingState.tsx
  web/src/components/version-details/VersionDetailsRow.tsx
Due: prettier

fixes for prettier
  web/src/components/LoadingState.tsx
Due: prettier

Add created_at timestamp to completion details
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/types/models.ts
Due: ruff, pyright, prettier

Fix created_at handling in completion_to_domain
  backend/protocol/api/_services/conversions.py
Due: ruff, pyright

Simplify created_at handling - always derive from UUID7
  backend/protocol/api/_services/conversions.py
Due: ruff, pyright

Add tests for created_at field in completion conversions
  backend/protocol/api/_services/conversions_test.py
Due: ruff, pyright

feat: allow variabilizing images
  backend/core/domain/file.py
  backend/core/runners/_message_renderer.py
  backend/core/runners/_message_renderer_test.py
  backend/core/services/messages/messages_utils.py
  backend/core/services/messages/messages_utils_test.py
  backend/tests/components/run/_base.py
  backend/tests/components/run/run_test.py
Due: ruff, pyright

updates to address review comments
  docs/content/docs/getting-started.mdx
  docs/content/docs/integrations/openai.mdx
  docs/content/docs/integrations/vercel.mdx
  docs/content/docs/self-hosted.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/for-product-managers.mdx
  docs/content/docs/use-cases/fundamentals/annotations.mdx
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/debugging.mdx
  docs/content/docs/use-cases/fundamentals/deployments.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/fundamentals/experiments.mdx
  docs/content/docs/use-cases/fundamentals/metrics.mdx
  docs/content/docs/use-cases/fundamentals/migrating.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/private.increasing-agent-reliability.mdx
  docs/content/docs/use-cases/user-feedback.mdx
  docs/public/images/add-annotation-completion-output.png
  docs/public/images/add-annotation-individual-field.png
  docs/public/images/add-annotation-parameters.png
  docs/public/images/article-summarizer-experiment-creation.png
  docs/public/images/calendar-event-accuracy-report.png
  docs/public/images/checking-new-models-ai-analysis.png
  docs/public/images/claude-code-token-limit-error.png
  docs/public/images/claude-cost-optimization-analysis.png
  docs/public/images/completion-text-annotations.png
  docs/public/images/completions-filter-query.png
  docs/public/images/deployment-update-confirmation.png
  docs/public/images/deployment-update-terminal.png
  docs/public/images/email-tone-debugging-analysis.png
  docs/public/images/experiment-prompt-enhancement-terminal.png
  docs/public/images/table-view-example.png
  docs/public/images/user-feedback-interface.png
Due: none

fix duplicate sentence added when accepting suggetsion
  docs/content/docs/use-cases/fundamentals/deployments.mdx
Due: none

add llm as a judge image
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/public/images/llm-judge-evaluation-results.png
Due: none

docs: Convert WorkflowAI migration note to warning callout
  docs/content/docs/use-cases/migrate-from-workflowai.mdx
Due: none

docs: Remove redundant heading from WorkflowAI migration guide
  docs/content/docs/integrations/openai.mdx
  docs/content/docs/use-cases/migrate-from-workflowai.mdx
Due: none

docs: Add Contact Us section to foundations documentation
  docs/content/docs/foundations.mdx
Due: none

feat: handle images
  .cursor/rules/python.mdc
  CLAUDE.md
  backend/conftest.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_dependencies/_lifecycle.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_test.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/playground_service_test.py
  backend/protocol/worker/_dependencies.py
  backend/tests/components/playground_test.py
  examples/agents/classify_animal/classify_animal.py
Due: ruff, pyright

feat: increase limit memory usage for external queries
  backend/core/storage/clickhouse/clickhouse_client.py
Due: ruff, pyright

fix: update doc for images
  docs/content/docs/inference/modalities.mdx
Due: none

fix: issue with message rendering
  backend/core/runners/_message_renderer.py
  backend/core/runners/_message_renderer_test.py
Due: ruff, pyright

test: fix test_image_url_as_url_object
  backend/tests/components/playground_test.py
Due: ruff, pyright

fix: preview issue
  backend/core/runners/runner.py
  backend/core/services/store_completion/_run_previews_test.py
  backend/core/utils/previews.py
  examples/agents/classify_animal/image2.jpg
Due: ruff, pyright

test: fix test_prepare_completion_with_image
  backend/core/providers/_base/httpx_provider_test.py
Due: ruff, pyright

test: add runner_test
  backend/core/runners/runner_test.py
Due: ruff, pyright

test: fix test_prepare_completion_with_audio
  backend/core/providers/_base/httpx_provider_test.py
Due: ruff, pyright

Fixes for Prettier
  web/src/app/completions/sections/table/cells/CompletionObjectTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionOutputSchemaCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableBadgeCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
  web/src/app/experiments/[id]/sections/Results/InputHeaderCell.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionCell.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionMetrics.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderMetrics.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderModel.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderPriceAndLatency.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingBaseValue.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingJSONValue.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingRow.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingToolValue.tsx
  web/src/components/HoverPopover.tsx
  web/src/components/ModelIcon.tsx
  web/src/components/TableComponent/StickyTableHeaders.tsx
  web/src/components/TableComponent/TableBody.tsx
  web/src/components/TableComponent/TableComponent.tsx
  web/src/components/TableComponent/TableHeader.tsx
  web/src/components/TableComponent/TableScrollbar.tsx
  web/src/components/TableComponent/useTableScrolling.ts
  web/src/components/completion-modal/MetadataView.tsx
Due: prettier

feat: add file upload url
  .mcp.json
  Makefile
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_router.py
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/files_service.py
Due: ruff, pyright

docs: add hosted version URLs to CLAUDE.md
  CLAUDE.md
Due: none

[GitHub-304] Adjusted Score Logic for Experiment Page
  web/src/components/utils/utils.ts
Due: prettier

docs: add hosted version URLs to CLAUDE.md (#315)
  CLAUDE.md
Due: none

Fix for tests
  web/src/components/utils/__tests__/utils.test.ts
Due: prettier

feat: increase timeout for ch
  backend/protocol/_common/_default_storage_builder.py
Due: ruff, pyright

docs: Add feedback comments to WorkflowAI migration guide
  docs/content/docs/use-cases/migrate-from-workflowai.mdx
Due: none

fix: Add pagination to metadata click queries to prevent infinite results
  web/src/components/completion-modal/MetadataView.tsx
Due: prettier

GitHub-307 Display MEMORY_LIMIT_EXCEEDED errors properly in UI
  web/src/app/agents/[agentId]/page.tsx
  web/src/app/agents/sections/table/AgentsTable.tsx
  web/src/app/completions/sections/table/CompletionsTable.tsx
  web/src/app/deployments/[id]/page.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/app/experiments/sections/table/ExperimentsTable.tsx
  web/src/components/PageError.tsx
  web/src/lib/apiError.ts
  web/src/store/agents.ts
  web/src/store/completion.ts
  web/src/store/completions.ts
  web/src/store/experiments.ts
  web/src/store/models.ts
Due: prettier

Fix for layout
  web/src/app/completions/sections/table/cells/CompletionTableVersionCell.tsx
Due: prettier

fix: Add pagination to metadata click queries to prevent infinite results (#319)
  web/src/components/completion-modal/MetadataView.tsx
Due: prettier

updated query
  web/src/components/completion-modal/MetadataView.tsx
Due: prettier

address assorted review comments
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/fundamentals/annotations.mdx
  docs/content/docs/use-cases/fundamentals/debugging.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/private.migrate-from-workflowai.mdx
  docs/public/images/organization-metrics.png
Due: none

add code examples in accordions for llms to access in documentation
  docs/content/docs/for_llms_only.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
  docs/content/docs/use-cases/fundamentals/deployments.mdx
  docs/content/docs/use-cases/fundamentals/migrating.mdx
  docs/content/docs/use-cases/user-feedback.mdx
Due: none

update links in webapp to use new documentation urls
  web/src/app/agents/sections/table/AgentsTable.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/app/experiments/sections/table/ExperimentsTable.tsx
  web/src/components/experiment/DeployVersionInstructions.tsx
  web/src/components/experiment/ExperimentInstructions.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructionsContent.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/components/sidebar/WrappedNavigationSidebar.tsx
Due: prettier
