Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

update workflows page to show prompt instead of code changes
  docs/content/docs/for_llms_only.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
Due: none

Documentation improvements and restructuring
  docs/content/docs/features/models.mdx
  docs/content/docs/getting-started.mdx
  docs/content/docs/use-cases/fundamentals/annotations.mdx
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/debugging.mdx
  docs/content/docs/use-cases/fundamentals/deployments.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/fundamentals/experiments.mdx
  docs/content/docs/use-cases/fundamentals/meta.json
  docs/content/docs/use-cases/fundamentals/metrics.mdx
  docs/content/docs/use-cases/fundamentals/migrating.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/user-feedback.mdx
Due: none

Add URL documentation for views
  docs/content/docs/foundations.mdx
Due: none

Add URL documentation section to foundations.mdx (#208)
  docs/content/docs/foundations.mdx
Due: none

GitHub-217 Wrong units in Graphs
  web/src/components/universal-charts/CompletionsGraph.tsx
  web/src/components/universal-charts/CustomTooltip.tsx
  web/src/components/universal-charts/UniversalBarChart.tsx
  web/src/components/universal-charts/UniversalLineChart.tsx
  web/src/components/universal-charts/UniversalScatterChart.tsx
  web/src/components/universal-charts/__tests__/formatValueWithUnit.test.ts
  web/src/components/universal-charts/useTooltipFormatterWithUnit.ts
  web/src/components/universal-charts/utils.ts
Due: prettier

add back cursor quick set up button
  docs/content/docs/index.mdx
Due: none

GitHub-215 Experiment Page Matching Content in the Header
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/matching/HeaderMatchingRow.tsx
  web/src/app/experiments/[id]/sections/matching/HeaderMatchingSection.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingBaseValue.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingToolValue.tsx
  web/src/components/TableComponent/TableComponent.tsx
Due: prettier

Fixes fro prettier
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
Due: prettier

Button for Metrics Page
  web/src/app/metrics/page.tsx
  web/src/components/MetricsCustomViewsInstructions.tsx
Due: prettier

fixes for prettier
  web/src/app/metrics/page.tsx
  web/src/components/MetricsCustomViewsInstructions.tsx
Due: prettier

Apply Guillaume's review suggestions for SQL security docs
  docs/content/docs/security.mdx
Due: none

GitHub-220 Add Units to Metrics Page
  web/src/app/metrics/page.tsx
  web/src/components/universal-charts/CompletionsGraph.tsx
  web/src/components/universal-charts/UniversalPieChart.tsx
  web/src/components/universal-charts/utils.ts
Due: prettier

jacek/GitHub-221 Inteligent formatting for values in Graphs
  web/src/components/universal-charts/UniversalPieChart.tsx
  web/src/components/universal-charts/__tests__/formatValueWithUnit.test.ts
  web/src/components/universal-charts/utils.ts
Due: prettier

GitHub-224 Format input_varibles_schema in a better way
  web/src/app/experiments/[id]/sections/matching/HeaderMatchingRow.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingJSONValue.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingRow.tsx
  web/src/components/completion-modal/MetadataView.tsx
  web/src/components/utils/utils.ts
  web/src/components/version-details/VersionDetailsRow.tsx
  web/src/components/version-details/VersionDetailsView.tsx
Due: prettier

fix: httpx provider tests
  backend/core/providers/_base/abstract_provider_test.py
  backend/core/providers/_base/httpx_provider.py
  backend/core/providers/_base/httpx_provider_test.py
  backend/core/providers/_base/streaming_context.py
  backend/protocol/api/_services/run/_run_conversions.py
Due: ruff, pyright

fix: bedrock provider tests
  backend/core/providers/_base/httpx_provider.py
  backend/core/providers/_base/streaming_context.py
  backend/core/providers/amazon_bedrock/amazon_bedrock_domain.py
  backend/core/providers/amazon_bedrock/amazon_bedrock_provider_test.py
Due: ruff, pyright

fix: fireworks tests
  backend/core/providers/_base/httpx_provider.py
  backend/core/providers/_base/llm_usage.py
  backend/core/providers/_base/streaming_context.py
  backend/core/providers/anthropic/anthropic_domain.py
  backend/core/providers/anthropic/anthropic_domain_test.py
  backend/core/providers/anthropic/anthropic_provider_test.py
  backend/core/providers/fireworks/fireworks_domain.py
  backend/core/providers/fireworks/fireworks_provider_test.py
  backend/core/runners/runner_output.py
Due: ruff, pyright

test: fix google provider tests
  backend/core/providers/_base/streaming_context.py
  backend/core/providers/google/gemini/gemini_api_provider_test.py
  backend/core/providers/google/google_provider_domain.py
  backend/core/providers/google/google_provider_test.py
Due: ruff, pyright

test: fix groq provider
  backend/core/providers/groq/groq_provider_test.py
Due: ruff, pyright

test: fix mistral and openai
  backend/core/providers/mistral/mistral_provider_test.py
  backend/core/providers/openai/openai_provider_base_test.py
  backend/tests/fixtures/openai/stream_with_tools.json
Due: ruff, pyright

fix: final lints
  backend/core/providers/openai/azure_open_ai_provider/azure_openai_provider_test.py
  backend/core/providers/openai/openai_provider_test.py
  backend/core/providers/xai/xai_provider_test.py
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/playground_service.py
Due: ruff, pyright

fix: xai thinking streaming
  backend/core/providers/fireworks/fireworks_provider_test.py
  backend/core/providers/xai/xai_domain.py
  backend/core/providers/xai/xai_provider_test.py
Due: ruff, pyright

chore: split staging and production
  .github/workflows/production.yml
Due: none

feat: draft for new playground tools
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/playground_service.py
Due: ruff, pyright

GitHub-229 Summary Card for Metrics Page
  web/src/app/metrics/components/MetricsSection.tsx
  web/src/app/metrics/components/MetricsSummary.tsx
  web/src/app/metrics/page.tsx
Due: prettier

fix for prettier
  web/src/app/metrics/components/MetricsSummary.tsx
Due: prettier

feat: add basis for experiment storage
  backend/core/domain/events.py
  backend/core/domain/experiment.py
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/migrations/8_experiment_splits.sql
Due: ruff, pyright

feat: add get_experiment_outputs tool
  backend/core/domain/events.py
  backend/core/storage/experiment_storage.py
  backend/core/utils/hash.py
  backend/core/utils/hash_test.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/experiment_service.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/utils_service.py
Due: ruff, pyright

GitHub-230 Pages for View Folders
  web/src/app/folders/[id]/page.tsx
  web/src/components/sidebar/EditableFolderName.tsx
  web/src/components/sidebar/FolderCell.tsx
Due: prettier

Fix for build
  web/src/app/folders/[id]/page.tsx
Due: prettier

feat: implement basic service layer for new playground
  backend/core/domain/experiment.py
  backend/core/storage/experiment_storage.py
  backend/core/utils/hash.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/utils_service.py
Due: ruff, pyright

rework documentation organization and structure to be use-case focused, lots of placeholder pages/todos still
  docs/content/docs/agents/meta.json
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/faq.mdx
  docs/content/docs/features/api-keys.mdx
  docs/content/docs/features/caching.mdx
  docs/content/docs/features/cost.mdx
  docs/content/docs/features/index.mdx
  docs/content/docs/features/input-variables.mdx
  docs/content/docs/features/meta.json
  docs/content/docs/features/modalities.mdx
  docs/content/docs/features/models.mdx
  docs/content/docs/features/reasoning.mdx
  docs/content/docs/features/streaming.private.mdx
  docs/content/docs/features/structured-outputs.mdx
  docs/content/docs/inference/meta.json
  docs/content/docs/integrations/openai.mdx
  docs/content/docs/integrations/vercel.mdx
  docs/content/docs/meta.json
  docs/content/docs/observability/meta.json
  docs/content/docs/use-cases/building.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/code-free-updates.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
  docs/content/docs/use-cases/debugging.mdx
  docs/content/docs/use-cases/evaluating.mdx
  docs/content/docs/use-cases/improving.mdx
  docs/content/docs/use-cases/increasing-agent-reliability.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/mcp.private.mdx
  docs/content/docs/use-cases/memory.private.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/metrics.mdx
  docs/content/docs/use-cases/migrate-from-workflowai.mdx
  docs/content/docs/use-cases/migrating.mdx
  docs/content/docs/use-cases/tools.private.mdx
  docs/content/docs/use-cases/user-feedback.mdx
  docs/content/docs/workflows/meta.json
  docs/public/images/inference/reliability/model-fallback.png
  docs/public/images/inference/reliability/provider-fallback.png
Due: none

Update building.mdx documentation
  docs/content/docs/use-cases/building.mdx
Due: none

add placeholder image todos
  docs/content/docs/use-cases/building.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/code-free-updates.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
  docs/content/docs/use-cases/evaluating.mdx
  docs/content/docs/use-cases/improving.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/metrics.mdx
  docs/content/docs/use-cases/migrating.mdx
  docs/content/docs/use-cases/user-feedback.mdx
Due: none

Add feedback and improvements to documentation pages
  docs/content/docs/index.mdx
  docs/content/docs/use-cases/building.mdx
Due: none

resolve documentation use case todos: creating views, finding cheaper models, vibe checking new models; cleanup
  docs/content/docs/observability/conversations.private.mdx
  docs/content/docs/observability/index.mdx
  docs/content/docs/observability/meta.json
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/debugging.mdx
  docs/content/docs/use-cases/improving.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/metrics.mdx
Due: none

pt 1 of features cleanup
  docs/content/docs/features/input-variables.mdx
  docs/content/docs/features/models.mdx
  docs/content/docs/features/structured-outputs.mdx
Due: none

Update models.mdx: simplify description and highlight model parameters
  docs/content/docs/features/models.mdx
Due: none

add content to api keys page, update features intro page, consolidate deployments info
  docs/content/docs/deployments/index.mdx
  docs/content/docs/deployments/index.private.mdx
  docs/content/docs/deployments/mcp.private.mdx
  docs/content/docs/deployments/meta.json
  docs/content/docs/features/api-keys.mdx
  docs/content/docs/features/index.mdx
  docs/content/docs/use-cases/code-free-updates.mdx
Due: none
