Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

clarify deployment id naming
  docs/content/docs/use-cases/fundamentals/deployments.mdx
Due: none

prospective fix to image deployment issue
  docs/content/docs/use-cases/fundamentals/deployments.mdx
Due: none

fix: better handle provider errors with no cost
  backend/core/providers/_base/abstract_provider.py
  backend/core/providers/_base/abstract_provider_test.py
  backend/tests/components/conftest.py
  backend/tests/components/run/run_test.py
Due: ruff, pyright

doc: update for new openai sdk
  backend/core/agents/suggest_model.py
  backend/tests/components/deployments_test.py
  backend/tests/components/run/run_test.py
  backend/tests/integration/openai_sdk_test.py
  docs/content/docs/features/caching.mdx
  docs/content/docs/features/structured-outputs.mdx
  docs/content/docs/foundations.mdx
  docs/content/docs/integrations/openai.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/private.migrate-from-workflowai.mdx
  examples/agents/classify_animal/classify_animal.py
  pyproject.toml
  uv.lock
Due: ruff, pyright

fix: error_incurs_cost
  backend/core/providers/_base/abstract_provider.py
  backend/core/providers/_base/abstract_provider_test.py
Due: ruff, pyright

GitHub-430 Per 1K multiplier for groups of completions
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/components/MetricItem.tsx
Due: prettier

GitHub-431 Show types for Input Variables in Messages when they are in Contents of a Message
  web/src/components/messages/MessageContentView.tsx
  web/src/components/messages/UniversalFileViewer.tsx
Due: prettier

fix: return 400 on invalid api key for mcp
  backend/core/domain/exceptions.py
  backend/protocol/api/_mcp_utils.py
Due: ruff, pyright

test: add test custom token verifier
  backend/conftest.py
  backend/protocol/api/_mcp_utils_test.py
Due: ruff, pyright

GitHub-440 completions instead of runs in our copy
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/components/ActivityIndicator.tsx
  web/src/components/universal-charts/__tests__/formatValueWithUnit.test.ts
Due: prettier

feat: add mcp publish setup
  .gitignore
  Makefile
  backend/tests/components/server_json_test.py
  pyproject.toml
  server.json
Due: ruff, pyright

fix: issue with missing provider in pipeline
  backend/core/runners/provider_pipeline.py
  backend/core/runners/provider_pipeline_test.py
Due: ruff, pyright

New Home Page
  package-lock.json
  web/package.json
  web/scripts/bundle-preview-content.js
  web/src/app/home/components/CopyButton.tsx
  web/src/app/home/components/Header.tsx
  web/src/app/home/components/bundled-content.ts
  web/src/app/home/components/utils.tsx
  web/src/app/home/page.tsx
  web/src/app/layout.tsx
  web/src/app/page.tsx
  web/src/components/SignedOutLayout.tsx
  web/src/content/preview.mdx
  yarn.lock
Due: prettier

Prettier fixes
  .gitignore
Due: none

Fixes for Prettier
  web/src/app/home/components/bundled-content.ts
Due: prettier

polishes and typo fixes
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/deployments.mdx
  docs/content/docs/use-cases/image-agents.mdx
  docs/content/docs/use-cases/pdf-processing-agents.mdx
Due: none

add failure mode flow to eval docs
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/public/images/extracted-open-codes-annotations.png
Due: none

fix: remove run-ids from code
  backend/core/domain/experiment.py
  backend/core/storage/clickhouse/_models/_ch_experiment.py
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/protocol/api/_services/annotation_service.py
  backend/protocol/api/_services/experiment_service.py
  backend/tests/fake_models.py
Due: ruff, pyright

fix: remove run_ids from exp storage
  backend/core/storage/psql/migrations/3_experiments.sql
  backend/core/storage/psql/psql_annotation_storage_test.py
  backend/core/storage/psql/psql_experiment_storage.py
Due: ruff, pyright

feat: add experiment_id as a ck alias
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/storage/clickhouse/migrations/4_experiment_id.sql
  backend/core/storage/completion_storage.py
  backend/tests/fixtures/clickhouse/annotations.json
  backend/tests/fixtures/clickhouse/completions.json
  backend/tests/fixtures/clickhouse/experiments.json
Due: ruff, pyright

feat: remove ch experiment add completion
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/storage/completion_storage.py
Due: ruff, pyright

Fixes after QA
  web/src/app/home/components/bundled-content.ts
  web/src/app/home/components/utils.tsx
  web/src/app/home/page.tsx
  web/src/content/preview.mdx
Due: prettier

GitHub-395 Make metadata values copiable
  web/src/components/completion-modal/MetadataView.tsx
  web/src/hooks/useCopy.ts
Due: prettier

fix: simplify annotation storage
  backend/core/storage/annotation_storage.py
  backend/core/storage/psql/psql_annotation_storage.py
  backend/core/storage/psql/psql_annotation_storage_test.py
  backend/protocol/api/_services/annotation_service.py
  backend/protocol/api/_services/experiment_service.py
  backend/protocol/api/_services/ids_service.py
Due: ruff, pyright

fix: adding annotations
  backend/core/storage/clickhouse/_models/_ch_annotation.py
  backend/core/storage/clickhouse/_models/_ch_annotation_test.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/storage/clickhouse/migrations/4_experiment_id.sql
  backend/protocol/api/_services/annotation_service.py
  backend/tests/components/annotations_test.py
Due: ruff, pyright

test: fix clickhouse_client_test
  backend/core/storage/clickhouse/_models/_ch_annotation.py
Due: ruff, pyright

Fixes after QA
  web/src/app/home/components/Header.tsx
  web/src/app/home/components/utils.tsx
Due: prettier

GitHub-450 Delete button for annotations is unresponsive
  backend/core/storage/psql/psql_annotation_storage.py
Due: ruff, pyright

fix: return annotations for completions in exp
  backend/core/storage/psql/migrations/9_experiment_positions.sql
  backend/core/storage/psql/psql_annotation_storage.py
  backend/core/storage/psql/psql_annotation_storage_test.py
  backend/protocol/api/_services/experiment_service.py
Due: ruff, pyright

test: fix test_store_annotation_with_no_metadata
  backend/core/storage/clickhouse/clickhouse_client_test.py
Due: ruff, pyright

test: add delete annotation test
  backend/core/storage/psql/psql_annotation_storage_test.py
Due: ruff, pyright

jacek/GitHub-449 Agent ID on completions list view different than actual agent ID
  web/src/components/utils/utils.ts
Due: prettier

fix: add minio external host
  backend/core/storage/s3/s3_file_storage.py
  backend/core/storage/s3/s3_file_storage_test.py
  docker-compose.yml
Due: ruff, pyright

test: add test_create_and_annotate_experiment
  backend/tests/components/experiments_test.py
Due: ruff, pyright

feat: add token counts to trace object
  backend/core/storage/clickhouse/_models/_ch_completion.py
  backend/core/storage/clickhouse/_models/_ch_completion_test.py
  backend/core/storage/clickhouse/migrations/5_completion_traces.sql
  backend/tests/fake_models.py
Due: ruff, pyright

feat: add codex doc
  docs/content/docs/getting-started.mdx
Due: none

GitHub-451 Text-wrapping regression
  web/src/components/VariablesViewer/ValueDisplay.tsx
Due: prettier

reformat evals page
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
Due: none

Prettier fixes
  web/src/components/VariablesViewer/ValueDisplay.tsx
Due: prettier

Screenshot support
  web/src/app/home/components/bundled-content.ts
  web/src/app/home/components/utils.tsx
Due: prettier
