Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

feat: add .source to prettierignore
  docs/.prettierignore
Due: none

fix: single job in web quality
  .github/workflows/.web-quality.yml
Due: none

prettier fixes
  web/src/app/completions/sections/table/cells/CompletionObjectTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionOutputSchemaCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
  web/src/app/deployments/[completion_id]/page.tsx
  web/src/components/deployment-modal/DeploymentModal.tsx
  web/src/components/deployment-modal/components/CompareSection.tsx
  web/src/components/deployment-modal/components/CompareVersionsView.tsx
  web/src/store/completions.ts
Due: prettier

doc: add deployment documentation
  .vscode/extensions.json
  docs/content/docs/deployments/index.mdx
Due: none

feat: return better message on missing api key
  backend/core/domain/exceptions.py
  backend/core/providers/anthropic/anthropic_provider_test.py
  backend/core/providers/factory/abstract_provider_factory.py
  backend/core/providers/factory/local_provider_factory.py
  backend/core/runners/provider_pipeline.py
  backend/core/runners/provider_pipeline_test.py
  backend/core/runners/runner.py
Due: ruff, pyright

fix: alias completion route to account for mistakes in openai base url
  backend/protocol/api/run_router.py
Due: ruff, pyright

fix: better handle template rendering errors
  backend/core/runners/_message_renderer.py
  backend/core/utils/templates.py
  backend/core/utils/templates_test.py
Due: ruff, pyright

fix: update mcp tool to allow creating a deployment from a version id
  backend/protocol/api/_mcp.py
Due: ruff, pyright

doc: add modalities doc
  backend/protocol/api/_services/_run_conversions.py
  docs/content/docs/inference/meta.json
  docs/content/docs/inference/modalities.mdx
Due: ruff, pyright

Optional Clerk
  .env.example
  CONDITIONAL_CLERK_SETUP.md
  docker-compose.yml
  package-lock.json
  web/package.json
  web/src/app/api/[...all]/route.ts
  web/src/app/layout.tsx
  web/src/components/UserMenu.tsx
  web/src/components/auth/AuthProvider.tsx
  web/src/components/auth/ConditionalClerkProvider.tsx
  web/src/components/auth/SignIn.tsx
  web/src/components/auth/SignInButton.tsx
  web/src/components/auth/SignUp.tsx
  web/src/components/auth/SignUpButton.tsx
  web/src/components/auth/SignedIn.tsx
  web/src/components/auth/SignedOut.tsx
  web/src/components/auth/UserButton.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/components/sidebar/ViewsSection.tsx
  web/src/lib/apiFetch.ts
  web/src/lib/authStrategy.ts
  web/src/lib/tokenUtils.ts
  web/src/middleware.ts
Due: prettier

Log fixes
  web/src/components/auth/ConditionalClerkProvider.tsx
  web/src/lib/apiFetch.ts
  web/src/lib/logger.ts
Due: prettier

Prettier
  web/src/components/auth/ConditionalClerkProvider.tsx
  web/src/lib/apiFetch.ts
  web/src/lib/logger.ts
Due: prettier

add annotation demo videos
  docs/content/docs/annotations/annotations.mdx
Due: none

AAI-9 Fix UI of objects in outputs and schemas
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
  web/src/components/VariablesViewer/VariablesViewer.tsx
  web/src/components/messages/MessageContentView.tsx
  web/src/components/messages/MessageView.tsx
  web/src/components/messages/MessagesViewer.tsx
Due: prettier

Support for $ref in schemas
  web/src/components/SchemaViewer.tsx
  web/src/components/utils/utils.ts
Due: prettier

Prettier fixes
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
  web/src/components/VariablesViewer/VariablesViewer.tsx
Due: prettier

token count support for the completions and experiment
  backend/core/domain/agent_completion.py
  backend/core/domain/tenant_data.py
  backend/core/logs/setup_logs.py
  backend/core/providers/amazon_bedrock/amazon_bedrock_provider_test.py
  backend/core/runners/agent_completion_builder.py
  backend/core/storage/clickhouse/_models/_ch_completion.py
  backend/core/storage/clickhouse/migrations/4_reasoning_tokens.sql
  backend/core/storage/experiment_storage.py
  backend/core/utils/iter_utils_test.py
  backend/core/utils/sql_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  web/src/app/experiments/[id]/sections/Results/completion/CompletionCell.tsx
  web/src/components/PriceAndLatencyDisplay.tsx
  web/src/components/TableComponent.tsx
  web/src/components/auth/SignedOut.tsx
  web/src/components/completion-modal/CompletionConversationView.tsx
  web/src/components/messages/MessageView.tsx
  web/src/components/utils/utils.ts
  web/src/types/models.ts
Due: ruff, pyright, prettier

Fix for trailing comma
  backend/core/storage/experiment_storage.py
Due: ruff, pyright

AAI-14 Long string input variable spills over text box
  web/src/components/VariablesViewer/ValueDisplay.tsx
  web/src/components/messages/MessageContentView.tsx
  web/src/components/messages/MessageTextView.tsx
Due: prettier

Test fix
  backend/core/storage/clickhouse/_models/_ch_completion.py
Due: ruff, pyright

Adding index for the reasoning token count
  backend/core/domain/agent_completion.py
  backend/core/runners/agent_completion_builder_test.py
  backend/core/storage/clickhouse/migrations/5_reasoning_tokens_index.sql
Due: ruff, pyright

Fix for tests
  backend/core/domain/agent_completion.py
  backend/core/runners/agent_completion_builder_test.py
Due: ruff, pyright

fix for test data
  backend/core/runners/agent_completion_builder_test.py
Due: ruff, pyright

Deployments Page with Mocked Data
  web/src/app/agents/sections/table/AgentsTable.tsx
  web/src/app/deployments/[id]/components/DeleteDeploymentModal.tsx
  web/src/app/deployments/[id]/components/DeploymentInfoSection.tsx
  web/src/app/deployments/[id]/page.tsx
  web/src/app/deployments/page.tsx
  web/src/app/deployments/sections/table/DeploymentsBaseCell.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/components/utils/utils.ts
  web/src/store/deployments.ts
  web/src/store/mocked_deployments.ts
  web/src/types/models.ts
Due: prettier

workflows documentation
  docs/content/docs/workflows/index.mdx
  docs/content/docs/workflows/meta.json
Due: none

fix failing check
  docs/content/docs/workflows/meta.json
Due: none

add pages for building, migratins, improving, debugging, evaluating agents
  docs/content/docs/agents/building.mdx
  docs/content/docs/agents/debugging.mdx
  docs/content/docs/agents/evaluating.mdx
  docs/content/docs/agents/improving.mdx
  docs/content/docs/agents/meta.json
  docs/content/docs/agents/migrating.mdx
Due: none

update MCP installation instructions to match README and clean up Products section
  docs/content/docs/index.mdx
Due: none

revert tools.private cleanup; add back api_url placeholders
  docs/content/docs/agents/tools.private.mdx
  docs/content/docs/index.mdx
Due: none

update community forum link and bonus hosted tools cleanup
  docs/content/docs/agents/tools.private.mdx
  docs/content/docs/index.mdx
Due: none

fix failing quality check
  docs/content/docs/agents/migrating.mdx
Due: none

remove callout that was out of place
  docs/content/docs/index.mdx
Due: none

copy and UI polishes
  docs/content/docs/agents/improving.mdx
Due: none

Adding navigation and list support for completion model
  web/src/app/deployments/[id]/page.tsx
Due: prettier

Fixes for the build issues reported by Anya
  docker-compose.yml
  web.Dockerfile
Due: none

Always waiting for the token to be sync
  web/src/lib/apiFetch.ts
Due: prettier

API keys back in Sidebar when Clerk is enabled
  web/src/components/auth/ConditionalClerkProvider.tsx
  web/src/components/auth/UserButton.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/lib/apiFetch.ts
  web/src/lib/authStrategy.ts
  web/src/lib/utils.ts
  web/src/middleware.ts
Due: prettier

cursor pointer
  web/src/components/sidebar/NavigationSidebar.tsx
Due: prettier

Update docs/content/docs/index.mdx
  docs/content/docs/index.mdx
Due: none

add hosted instructions and clarify next steps after set up
  docs/content/docs/index.mdx
Due: none

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
