Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

rework documentation organization and structure to be use-case focused, lots of placeholder pages/todos still
  docs/content/docs/agents/meta.json
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/faq.mdx
  docs/content/docs/features/api-keys.mdx
  docs/content/docs/features/caching.mdx
  docs/content/docs/features/cost.mdx
  docs/content/docs/features/index.mdx
  docs/content/docs/features/input-variables.mdx
  docs/content/docs/features/meta.json
  docs/content/docs/features/modalities.mdx
  docs/content/docs/features/models.mdx
  docs/content/docs/features/reasoning.mdx
  docs/content/docs/features/streaming.private.mdx
  docs/content/docs/features/structured-outputs.mdx
  docs/content/docs/inference/meta.json
  docs/content/docs/integrations/openai.mdx
  docs/content/docs/integrations/vercel.mdx
  docs/content/docs/meta.json
  docs/content/docs/observability/meta.json
  docs/content/docs/use-cases/building.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/code-free-updates.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
  docs/content/docs/use-cases/debugging.mdx
  docs/content/docs/use-cases/evaluating.mdx
  docs/content/docs/use-cases/improving.mdx
  docs/content/docs/use-cases/increasing-agent-reliability.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/mcp.private.mdx
  docs/content/docs/use-cases/memory.private.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/metrics.mdx
  docs/content/docs/use-cases/migrate-from-workflowai.mdx
  docs/content/docs/use-cases/migrating.mdx
  docs/content/docs/use-cases/tools.private.mdx
  docs/content/docs/use-cases/user-feedback.mdx
  docs/content/docs/workflows/meta.json
  docs/public/images/inference/reliability/model-fallback.png
  docs/public/images/inference/reliability/provider-fallback.png
Due: none

resolve documentation use case todos: creating views, finding cheaper models, vibe checking new models; cleanup
  docs/content/docs/observability/conversations.private.mdx
  docs/content/docs/observability/index.mdx
  docs/content/docs/observability/meta.json
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/debugging.mdx
  docs/content/docs/use-cases/improving.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/metrics.mdx
Due: none

add content to api keys page, update features intro page, consolidate deployments info
  docs/content/docs/deployments/index.mdx
  docs/content/docs/deployments/index.private.mdx
  docs/content/docs/deployments/mcp.private.mdx
  docs/content/docs/deployments/meta.json
  docs/content/docs/features/api-keys.mdx
  docs/content/docs/features/index.mdx
  docs/content/docs/use-cases/code-free-updates.mdx
Due: none

updates after resolving merge conflicts
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/use-cases/code-free-updates.mdx
Due: none

fix: remove deployment ids from error msg
  backend/protocol/api/_services/run/run_service.py
  backend/protocol/api/_services/run/run_service_test.py
Due: ruff, pyright

cleanup unused images and outdated components
  docs/app/(docs)/[[...slug]]/page.tsx
  docs/app/layout.tsx
  docs/components/toc-dropdown.tsx
  docs/public/images/completions-list.png
  docs/public/images/completions-slow-list.png
  docs/public/images/experiment-compare-models.png
  docs/public/images/experiment-compare-prompts.png
  docs/public/images/inference/caching/header.png
  docs/public/images/inference/overview.png
  docs/public/images/pricing/header.png
  docs/public/images/view-graph-cost-over-time.png
Due: prettier

add placeholder image todos
  docs/content/docs/use-cases/building.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/code-free-updates.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
  docs/content/docs/use-cases/evaluating.mdx
  docs/content/docs/use-cases/improving.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/metrics.mdx
  docs/content/docs/use-cases/migrating.mdx
  docs/content/docs/use-cases/user-feedback.mdx
Due: none

feat: Update models table display with pricing and context info
  docs/components/workflow-models-table.tsx
  docs/components/workflow-models-wrapper.tsx
Due: prettier

feat: Add Models link to navigation sidebar
  web/src/components/sidebar/NavigationSidebar.tsx
Due: prettier

feat: handle oauth token verification
  backend/core/domain/exceptions.py
  backend/core/services/clerk/__init__.py
  backend/core/services/clerk/clerk_user_manager.py
  backend/core/services/clerk/clerk_user_manager_test.py
  backend/core/services/user_manager.py
  backend/core/utils/signature_verifier.py
  backend/protocol/_common/lifecycle.py
  backend/protocol/api/_services/security_service.py
  backend/protocol/api/_services/security_service_test.py
  docs/content/docs/agents/mcp.private.mdx
  docs/content/docs/cli.private.mdx
  docs/content/docs/inference/streaming.private.mdx
  docs/content/docs/migrate-from-workflowai.mdx
Due: ruff, pyright

test: fix signature verifier tests
  backend/core/utils/signature_verifier.py
  backend/core/utils/signature_verifier_test.py
Due: ruff, pyright

feat: add automatic org selection for oauth
  backend/core/domain/events.py
  backend/core/storage/psql/_psql_base_storage.py
  backend/core/storage/psql/migrations/1_tenant.sql
  backend/core/storage/psql/migrations/7_users.sql
  backend/core/storage/psql/migrations/migrate_test.py
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_user_storage.py
  backend/core/storage/psql/psql_user_storage_test.py
  backend/core/storage/storage_builder.py
  backend/core/storage/user_storage.py
  backend/protocol/_common/_default_event_router.py
  backend/protocol/_common/_default_storage_builder.py
  backend/protocol/_common/lifecycle.py
  backend/protocol/api/_services/security_service.py
  backend/protocol/api/_services/security_service_test.py
  backend/protocol/worker/_dependencies.py
  backend/protocol/worker/tasks/_types.py
  backend/protocol/worker/tasks/store_completion_tasks.py
  backend/protocol/worker/tasks/user_connected_tasks.py
Due: ruff, pyright

feat: add hints to mcp tools
  backend/protocol/api/_mcp.py
Due: ruff, pyright

fix: default tenant uid for user connected
  backend/core/domain/events.py
Due: ruff, pyright

fix: well known router
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_well_known_router.py
  backend/protocol/api/api_server.py
  backend/tests/components/conftest.py
  backend/tests/components/well_known_test.py
Due: ruff, pyright

add chatgpt and oauth mcp set up setps
  docs/content/docs/index.mdx
  docs/public/images/mcp/chatgpt-setup.png
Due: none

fix instances of invalid email address in documentation
  docs/content/docs/inference/models.mdx
  docs/content/docs/inference/reliability.private.mdx
Due: none

Improve playground tool documentation clarity
  backend/protocol/api/_mcp.py
Due: ruff, pyright

fix instances of invalid email address in documentation (#196)
  docs/content/docs/inference/models.mdx
  docs/content/docs/inference/reliability.private.mdx
Due: none

Update building.mdx documentation
  docs/content/docs/use-cases/building.mdx
Due: none

Update models.mdx: simplify description and highlight model parameters
  docs/content/docs/features/models.mdx
Due: none

Add feedback and improvements to documentation pages
  docs/content/docs/index.mdx
  docs/content/docs/use-cases/building.mdx
Due: none

chore: bump dependencies
  backend/core/logs/setup_logs.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/api_server.py
  pyproject.toml
  uv.lock
Due: ruff, pyright

fix: logging
  backend/core/logs/global_setup.py
  backend/core/logs/setup_logs.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/api_server.py
  backend/protocol/worker/worker.py
  pyproject.toml
Due: ruff, pyright

feat: handle string based payloads for playground
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_mcp_utils_test.py
  backend/tests/components/mcp_test.py
Due: ruff, pyright

New Diff Library
  web/package.json
  web/src/components/utils/__tests__/stringMatchingUtils.test.ts
  web/src/components/utils/stringMatchingUtils.ts
  yarn.lock
Due: prettier

fix: ruff
  backend/core/providers/google/google_provider_test.py
  backend/core/runners/_message_fixer_test.py
Due: ruff, pyright

Prettier fixes
  web/src/components/utils/stringMatchingUtils.ts
Due: prettier

pt 1 of features cleanup
  docs/content/docs/features/input-variables.mdx
  docs/content/docs/features/models.mdx
  docs/content/docs/features/structured-outputs.mdx
Due: none

feat: dynamically replace created_at ordering
  backend/core/storage/clickhouse/_utils.py
  backend/core/storage/clickhouse/_utils_test.py
  backend/core/storage/clickhouse/clickhouse_client.py
Due: ruff, pyright

GitHub-134 Add Metrics Dashboard Section to Web App
  web/src/app/metrics/page.tsx
  web/src/components/MetricsSection.tsx
  web/src/components/QueryGraphCard.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/components/universal-charts/CompletionsGraph.tsx
  web/src/components/universal-charts/UniversalBarChart.tsx
  web/src/components/universal-charts/UniversalLineChart.tsx
  web/src/components/universal-charts/UniversalScatterChart.tsx
Due: prettier

New Prompts
  web/src/components/annotations/AnnotationsPromptLabel.tsx
  web/src/components/annotations/AnnotationsView.tsx
  web/src/components/annotations/UpdateAgentTooltip.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructions.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructionsContent.tsx
Due: prettier

Fixes fro Prettier
  web/src/components/annotations/AnnotationsView.tsx
  web/src/components/annotations/UpdateAgentTooltip.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructions.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructionsContent.tsx
Due: prettier

docs: Update experiments section for new composable tools design
  docs/content/docs/foundations.mdx
Due: none

Add URL documentation section to foundations.mdx
  docs/content/docs/foundations.mdx
Due: none

Add SQL query tool security documentation
  docs/content/docs/meta.json
  docs/content/docs/security.mdx
Due: none

Update web app description to reflect AnotherAI's purpose
  web/src/app/layout.tsx
Due: prettier

Add fundamentals folder structure and deployment docs
  docs/app/layout.config.tsx
  docs/content/docs/features/api-keys.mdx
  docs/content/docs/features/index.mdx
  docs/content/docs/features/structured-outputs.mdx
  docs/content/docs/for_llms_only.mdx
  docs/content/docs/getting-started.mdx
  docs/content/docs/index.mdx
  docs/content/docs/integrations/openai.mdx
  docs/content/docs/meta.json
  docs/content/docs/self-hosted.mdx
  docs/content/docs/use-cases/building.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/fundementals/building.mdx
  docs/content/docs/use-cases/fundementals/debugging.mdx
  docs/content/docs/use-cases/fundementals/deployments.mdx
  docs/content/docs/use-cases/fundementals/evaluating.mdx
  docs/content/docs/use-cases/fundementals/improving_w_annotations.mdx
  docs/content/docs/use-cases/fundementals/improving_w_experiments.mdx
  docs/content/docs/use-cases/fundementals/meta.json
  docs/content/docs/use-cases/fundementals/metrics.mdx
  docs/content/docs/use-cases/fundementals/migrating.mdx
  docs/content/docs/use-cases/image-agents.mdx
  docs/content/docs/use-cases/improving.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/migrating.mdx
  docs/content/docs/use-cases/user-feedback.mdx
  docs/content/docs/use-cases/using-chatgpt.mdx
Due: prettier

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
