Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

feat: add chat_completion analytics
  backend/protocol/api/_services/run/run_service.py
Due: ruff, pyright

fix: posthog timestamp
  backend/core/logs/_posthog_processor.py
  backend/core/logs/_posthog_processor_test.py
Due: ruff, pyright

fix: missing renderer
  backend/core/logs/setup_logs.py
Due: ruff, pyright

fix: tz naive / aware comparison
  backend/protocol/api/_services/security_service.py
Due: ruff, pyright

feat: use speed index from artificial analysis
  backend/core/domain/models/_mistral.py
  backend/core/domain/models/_xai.py
  backend/core/domain/models/model_data.py
  backend/core/domain/models/model_data_mapping.py
Due: ruff, pyright

Fixes after QA
  web/src/app/experiments/[id]/page.tsx
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/components/TableComponent/TableBody.tsx
  web/src/components/TableComponent/TableComponent.tsx
  web/src/components/TableComponent/TableHeader.tsx
  web/src/hooks/useColumnWidths.ts
Due: prettier

feat: handle model include for mcp server
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_models_test.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/models_service.py
  backend/protocol/api/_services/models_service_test.py
Due: ruff, pyright

Fixes after QA
  web/src/components/HoverPopover.tsx
Due: prettier

docs: add free credits mention to preview release notes
  docs/content/docs/releases/preview.mdx
Due: none

ci: remove model specification from Claude workflow
  .github/workflows/claude.yml
Due: none

ci: remove model specification from Claude workflow (#419)
  .github/workflows/claude.yml
Due: none

fix: timestamp for posthog
  backend/core/logs/_posthog_processor.py
  backend/protocol/api/_mcp_utils.py
Due: ruff, pyright

fix: default metadata for stripe events
  backend/core/logs/_posthog_processor.py
  backend/core/services/stripe/stripe_service.py
Due: ruff, pyright

Github-421 Key Prop Value Error on Experiments Page
  web/src/components/VariablesViewer/ValueDisplay.tsx
  web/src/components/VariablesViewer/VariablesViewer.tsx
Due: prettier

fix: update view resets folder
  backend/core/storage/psql/psql_view_storage.py
  backend/core/storage/psql/psql_view_storage_test.py
  backend/tests/components/mcp/create_view_test.py
Due: ruff, pyright

fix: timestamp replace tz
  backend/core/logs/_posthog_processor.py
  backend/core/logs/_posthog_processor_test.py
  backend/core/services/stripe/stripe_service_test.py
Due: ruff, pyright

GitHub-387 Failed to fetch view folders 401
  web/src/auth/clerk/components.tsx
  web/src/auth/noauth/components.tsx
  web/src/store/views.ts
Due: prettier

fix: create_or_replace_view not updating updated_at
  backend/core/storage/psql/psql_view_storage.py
  backend/core/storage/psql/psql_view_storage_test.py
Due: ruff, pyright

feat: add positions when inserting inputs
  backend/core/domain/experiment.py
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/migrations/9_experiment_positions.sql
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
Due: ruff, pyright

Prettier issues fixed
  web/src/hooks/useColumnWidths.ts
Due: prettier

feat: add exp input, version and output ordering
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/playground_service_test.py
Due: ruff, pyright

feat: return aliases when listing experimnet completions
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

feat: allow using aliases when filtering
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
Due: ruff, pyright

fix: sort completions in experiments
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
Due: ruff, pyright

fix: issue with playground ordering on filtering
  backend/core/storage/psql/psql_experiment_storage.py
  backend/protocol/api/_services/ids_service.py
  backend/protocol/api/_services/playground_service.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

test: fix playground_service_test
  backend/protocol/api/_services/playground_service_test.py
  backend/tests/fake_models.py
Due: ruff, pyright

fix: duplicate aliases in overrides
  backend/protocol/api/_services/playground_service.py
Due: ruff, pyright

feat: return alias when getting experiments
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
Due: ruff, pyright

test: fix test_playground_tool
  backend/tests/components/playground_test.py
Due: ruff, pyright

docs: improve preview release notes copy and add FAQ section
  docs/content/docs/releases/preview.mdx
Due: none

fix: return input id and alias separately
  backend/core/domain/experiment.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  web/src/types/models.ts
Due: ruff, pyright, prettier

Home PAge
  docker-compose.yml
  docs/content/docs/releases/preview.mdx
  web/.gitignore
  web/mdx-components.tsx
  web/package.json
  web/scripts/bundle-preview-content.js
  web/src/app/home/components/CopyButton.tsx
  web/src/app/home/components/Header.tsx
  web/src/app/home/components/utils.tsx
  web/src/app/home/page.tsx
  web/src/app/layout.tsx
  web/src/app/page.tsx
  web/src/components/SignedOutLayout.tsx
  yarn.lock
Due: prettier

Simpler solution to use the preview content
  web/.gitignore
  web/scripts/bundle-preview-content.js
  web/src/app/home/components/bundled-content.ts
  web/src/content/preview.mdx
Due: prettier

Fixes for preview and prettier
  web/src/app/home/components/bundled-content.ts
  web/src/app/page.tsx
  web/src/content/preview.mdx
Due: prettier

Fix for margins
  web/src/app/experiments/[id]/page.tsx
Due: prettier

fix: remove alias from display
  backend/protocol/api/_services/conversions.py
  web/src/app/experiments/[id]/sections/Results/version/VersionDifferencesView.tsx
  web/src/app/experiments/[id]/sections/matching/HeaderMatchingSection.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingSection.tsx
  web/src/components/utils/utils.ts
  web/src/types/models.ts
Due: ruff, pyright, prettier

fix: remove logs
  web/src/app/experiments/[id]/sections/Results/version/VersionDifferencesView.tsx
Due: prettier

test: fix test_playground_ordering
  backend/tests/components/playground_test.py
Due: ruff, pyright

reorder and shorten image and pdf use cases
  docs/content/docs/use-cases/image-agents.mdx
  docs/content/docs/use-cases/pdf-processing-agents.mdx
Due: none

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
