Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

feat: add title to WAI migration doc
  docs/content/docs/workflowai-migration.private.mdx
Due: none

various documentation polishes: fix URL, fix code, add claude code agent creation steps and natural language queries
  docs/content/docs/agents/building.mdx
  docs/content/docs/index.mdx
  docs/content/docs/inference/caching.mdx
  docs/content/docs/inference/cost.mdx
  docs/content/docs/inference/structured-outputs.mdx
Due: none

GitHub-112 UI incorrectly shows Model as changed when only prompt is updated in deployment
  web/src/app/experiments/[id]/sections/matching/MatchingSection.tsx
  web/src/components/utils/utils.ts
Due: prettier

jacek/GitHub-113 Clarify Are tools parameters part of deployments Documentation vs UI inconsistency
  web/src/app/deployments/[id]/components/DeploymentInfoSection.tsx
  web/src/components/deployment-modal/components/CompareVersionsView.tsx
Due: prettier

Removed auto as default value
  web/src/components/utils/utils.ts
Due: prettier

fix: adjust migrate from wai doc
  backend/core/services/documentation_search.py
  backend/core/services/documentation_search_test.py
  docs/content/docs/migrate-from-workflowai.mdx
Due: ruff, pyright

add mcp set up steps for windsurf
  docs/content/docs/index.mdx
  docs/content/docs/self-hosted.mdx
Due: none

feat: add spot to migrating.mdx
  docs/content/docs/agents/migrating.mdx
  docs/content/docs/migrate-from-workflowai.mdx
Due: none

AAI-53 Completions with document and audio files as input not showing input
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
  web/src/components/completion-modal/CompletionConversationView.tsx
  web/src/components/messages/AudioViewer.tsx
  web/src/components/messages/FileView.tsx
  web/src/components/messages/MessageContentView.tsx
  web/src/components/messages/PDFViewer.tsx
  web/src/components/messages/UniversalFileViewer.tsx
Due: prettier

Descriptions for Output Schema in CompletionModal
  web/src/components/version-details/VersionDetailsView.tsx
Due: prettier

FIX Tapping on a view from this search command bar needs to update the URL to views instead of view to fix
  web/src/components/CommandPalette.tsx
  web/src/components/sidebar/ViewMenuButton.tsx
Due: prettier

docs: remove broken metadata documentation link
  docs/content/docs/foundations.mdx
Due: none

Add documentation guidelines for template variables
  docs/CLAUDE.md
Due: none

add zero lock in section to docs
  docs/content/docs/agents/migrating.mdx
  docs/content/docs/index.mdx
Due: none

Fix LLM-as-judge evaluation documentation examples
  docs/content/docs/agents/evaluating.mdx
Due: none

remove SQL, revert hardcoding URLs, fix failing check, update completion reference formatting
  docs/CLAUDE.md
  docs/content/docs/agents/building.mdx
  docs/content/docs/agents/evaluating.mdx
  docs/content/docs/agents/improving.mdx
  docs/content/docs/agents/migrating.mdx
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/index.mdx
  docs/content/docs/inference/caching.mdx
  docs/content/docs/inference/cost.mdx
  docs/content/docs/workflows/index.mdx
Due: none

remove comments and accidentally committed character
  docs/content/docs/agents/evaluating.mdx
  docs/content/docs/agents/migrating.mdx
Due: none

Update docs/content/docs/agents/improving.mdx
  docs/content/docs/agents/improving.mdx
Due: none

update migrate away steps
  docs/content/docs/agents/migrating.mdx
  docs/content/docs/index.mdx
Due: none

feat: adjust documentation to account for migrated deployments
  docs/content/docs/migrate-from-workflowai.mdx
Due: none

github-128 Support direct URL for displaying completions
  web/src/app/completions/[id]/page.tsx
  web/src/components/completion-modal/CompletionModal.tsx
  web/src/components/completion-modal/CompletionNavigationButtons.tsx
Due: prettier

feat: add trace conversion
  backend/core/domain/agent_completion.py
  backend/core/domain/inference_usage.py
  backend/core/domain/trace.py
  backend/core/providers/_base/llm_completion.py
  backend/core/providers/_base/llm_usage.py
  backend/core/runners/agent_completion_builder.py
  backend/core/services/documentation_search.py
  backend/core/storage/clickhouse/_models/_ch_completion.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
  backend/protocol/api/_services/run/_run_conversions.py
  backend/tests/fake_models.py
Due: ruff, pyright

fix: replace api_url in docs
  docs/lib/template-replacement.ts
Due: prettier

test: fix doc and completion test
  backend/core/services/documentation_search_test.py
  backend/core/storage/clickhouse/_models/_ch_completion_test.py
Due: ruff, pyright

fix: make mcp router optional
  backend/protocol/api/api_server.py
Due: ruff, pyright

GitHub-125 Bar chart view not displaying multiple y-axis series correctly
  web/src/components/universal-charts/CompletionsGraph.tsx
  web/src/components/universal-charts/UniversalBarChart.tsx
  web/src/components/universal-charts/UniversalLineChart.tsx
  web/src/components/universal-charts/UniversalScatterChart.tsx
  web/src/components/universal-charts/__tests__/utils.test.ts
  web/src/components/universal-charts/utils.ts
Due: prettier

fix: default env for doc search
  .env.example
  backend/core/consts.py
  backend/core/services/documentation_search.py
  docs/content/docs/migrate-from-workflowai.mdx
Due: ruff, pyright

fix: linter error in documentation_search_test
  backend/core/services/documentation_search_test.py
Due: ruff, pyright

Support for Examples in Schema
  web/src/components/SchemaViewer.tsx
  web/src/components/SchemaViewer/ExamplesRenderer.tsx
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/utils/utils.ts
  web/src/components/version-details/VersionDetailsView.tsx
Due: prettier

feat: make azure openai the default provider for oai models
  backend/core/domain/models/providers.py
Due: ruff, pyright

Showing Empty when array in Varibles is empty
  web/src/components/VariablesViewer/VariablesViewer.tsx
Due: prettier

Update AnotherAI overview copy to be agent-first
  .claude/agents/docs-reviewer.md
  docs/content/docs/index.mdx
Due: none

Update .mcp.json configuration for local development
  .mcp.json
Due: none

remove quick set up option for cursor that doesn't work because it's missing headers
  docs/content/docs/index.mdx
Due: none

fix: url substitution in docs
  backend/core/agents/_client.py
  backend/core/consts.py
  backend/core/services/documentation/__init__.py
  backend/core/services/documentation/documentation_config.py
  backend/core/services/documentation/documentation_config_test.py
  backend/core/services/documentation/documentation_search.py
  backend/core/services/documentation/documentation_search_test.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/documentation_service.py
  backend/protocol/api/_well_known_router.py
  backend/tests/components/_common.py
  backend/tests/components/conftest.py
  backend/tests/components/documentation_test.py
  docs/config.json
Due: ruff, pyright

test: fix test_default_docs_directory
  backend/core/services/documentation/documentation_config_test.py
Due: ruff, pyright

test: fix TestOfflineDocumentationSearch
  backend/core/services/documentation/documentation_search_test.py
Due: ruff, pyright

test: add az openai mock in tests
  backend/tests/components/_common.py
  backend/tests/components/conftest.py
Due: ruff, pyright

fix: add empty message
  backend/protocol/api/_services/playground_service.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

fix: remove deployment response format protection
  backend/protocol/api/_services/run/run_service.py
  backend/tests/components/deployments_test.py
Due: ruff, pyright

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
