Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

feat: split experiment retrieval tool
  .cursor/rules/python.mdc
  backend/core/storage/annotation_storage.py
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/psql_annotation_storage.py
  backend/core/storage/psql/psql_annotation_storage_test.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/experiment_service.py
Due: ruff, pyright

269 Experiment Page Sticky Headers
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/components/TableComponent/StickyTableHeaders.tsx
  web/src/components/TableComponent/TableComponent.tsx
  web/src/components/TableComponent/index.ts
Due: prettier

Fixes for Prettier
  web/src/components/TableComponent/TableComponent.tsx
Due: prettier

Fixes
  web/src/components/TableComponent/StickyTableHeaders.tsx
Due: prettier

Experiment Page: Diffs are not shown #270
  web/src/app/experiments/[id]/__tests__/utils.test.ts
  web/src/components/utils/__tests__/utils.test.ts
  web/src/components/utils/stringMatchingUtils.ts
  web/src/lib/__tests__/queryString.test.ts
Due: prettier

Fixes for tests
  web/src/components/utils/__tests__/utils.test.ts
  web/src/lib/__tests__/queryString.test.ts
Due: prettier

Fixes for Prettier
  web/src/app/experiments/[id]/__tests__/utils.test.ts
Due: prettier

comment removed
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
Due: prettier

Prettier fixes
  web/src/components/utils/__tests__/utils.test.ts
  web/src/lib/__tests__/queryString.test.ts
Due: prettier

update tool descriptions regarding add_experiment_resultsso LLM knows when to use tool
  backend/protocol/api/_mcp.py
Due: ruff, pyright

fix failing quality check
  backend/protocol/api/_mcp.py
Due: ruff, pyright

add note about modifying claude code token limit
  docs/content/docs/getting-started.mdx
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/experiments.mdx
Due: none

fix: reasoning effort model validation
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_models_test.py
Due: ruff, pyright

fix: readd completions to experiments
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/experiment_service.py
  backend/tests/components/_common.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

fix: re-add completions in experiment
  backend/core/utils/dicts.py
  backend/core/utils/dicts_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp_utils.py
  backend/tests/components/mcp_test.py
Due: ruff, pyright

add note about increasing claude code output token limit mid conversation
  docs/content/docs/getting-started.mdx
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/experiments.mdx
Due: none

feat: update google models
  backend/core/domain/models/model_data_mapping.py
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/domain/models/models.py
Due: ruff, pyright

GitHub-286 Completions Page The long text without spaces is not wrapping correctly
  web/src/app/agents/sections/table/AgentsTableAgentCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableMetadataCell.tsx
  web/src/app/experiments/sections/table/ExperimentsTableExperimentCell.tsx
  web/src/components/VariablesViewer/ValueDisplay.tsx
  web/src/components/messages/MessageContentView.tsx
  web/src/components/messages/MessageTextView.tsx
  web/src/components/sidebar/EditableViewTitle.tsx
  web/src/components/utils/TextBreak.tsx
Due: prettier

feat: add xai models
  backend/core/domain/models/_xai.py
  backend/core/domain/models/model_data.py
  backend/core/domain/models/model_data_mapping_test.py
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/domain/models/models.py
  backend/core/providers/_base/provider_options.py
  backend/core/providers/xai/xai_provider.py
  backend/core/providers/xai/xai_provider_test.py
Due: ruff, pyright

feat: update fireworks models
  backend/core/domain/models/model_data_mapping.py
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/domain/models/models.py
  backend/core/providers/fireworks/fireworks_provider.py
Due: ruff, pyright

fix: mistral model info
  Makefile
  backend/core/domain/models/_mistral.py
  backend/core/domain/models/model_provider_data_mapping.py
  scripts/check_mistral_models.py
Due: ruff, pyright

feat: update groq models
  backend/core/domain/models/model_provider_data_mapping.py
Due: ruff, pyright

Update docs index to broaden scope beyond coding assistants
  docs/content/docs/index.mdx
Due: none

fix: remapping to grok 4
  backend/core/providers/xai/xai_provider.py
  backend/core/providers/xai/xai_provider_test.py
  backend/core/runners/provider_pipeline_test.py
Due: ruff, pyright

fix: missing mapping in groq
  backend/core/providers/google/gemini/gemini_api_provider_test.py
  backend/core/providers/groq/groq_provider.py
Due: ruff, pyright

Fix typos in lowering-costs documentation
  docs/content/docs/use-cases/lowering-costs.mdx
Due: none

GitHub-288 Experiment Sticky Headers are not disappearing soon enough
  web/src/components/TableComponent/StickyTableHeaders.tsx
Due: prettier

Improve clarity in evaluating.mdx documentation
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
Due: none

Update OpenAI integration docs comment
  docs/content/docs/integrations/openai.mdx
Due: none

GitHub-291 Experiment Page Move the Version with the Prompts and Schemas to the first positions by default
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/utils.ts
Due: prettier

Fix for the Version Order Change Handles going over the content
  web/src/app/experiments/[id]/sections/Results/version/DraggableColumnWrapper.tsx
Due: prettier

Prettier fixes
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/utils.ts
Due: prettier

Fixes for the edge case bahiour
  web/src/components/TableComponent/StickyTableHeaders.tsx
Due: prettier

GitHub-293 Completions Page Description Update
  web/src/app/completions/page.tsx
Due: prettier

feat: make azure openai the default provider for oai models
  backend/core/domain/models/providers.py
Due: ruff, pyright

test: add az openai mock in tests
  backend/tests/components/_common.py
  backend/tests/components/conftest.py
Due: ruff, pyright

fix: primary provider test
  backend/core/domain/models/model_data_mapping_test.py
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/runners/provider_pipeline_test.py
Due: ruff, pyright

feat: add GPT-5
  backend/core/domain/models/model_provider_data_mapping.py
Due: ruff, pyright

chore: add deploy to run
  .github/workflows/.azure-build-deploy.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
