Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

fix: add tests for deployments and fix issues
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_models_test.py
  backend/protocol/api/_services/_urls.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/run/_run_conversions.py
  backend/protocol/api/_services/run/_run_conversions_test.py
  backend/protocol/api/_services/run/run_service.py
  backend/tests/components/_common.py
  backend/tests/components/deployments_test.py
  backend/tests/components/run/run_test.py
Due: ruff, pyright

fix: add missing get deployment by id
  backend/protocol/api/api_router.py
Due: ruff, pyright

feat: add cache retrieval to clickhouse client
  backend/core/storage/clickhouse/_models/_ch_completion.py
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/storage/clickhouse/migrations/1_completions.sql
  backend/core/storage/completion_storage.py
Due: ruff, pyright

feat: connect cache to completion runner
  backend/core/domain/version.py
  backend/core/runners/runner.py
  backend/core/services/completion_runner.py
Due: ruff, pyright

feat: connect playground service
  backend/core/services/completion_runner.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/playground_service.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

fix: encoded deployment id in url
  backend/protocol/api/_services/deployment_service.py
  backend/protocol/api/_services/deployment_service_test.py
Due: ruff, pyright

Deployments Frontend
  web/src/app/deploy/page.tsx
  web/src/app/deployments/[id]/components/DeleteDeploymentModal.tsx
  web/src/app/deployments/[id]/components/DeploymentInfoTooltip.tsx
  web/src/app/deployments/[id]/page.tsx
  web/src/app/deployments/page.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/components/PageHeader.tsx
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/deployment-modal/DeploymentContent.tsx
  web/src/components/deployment-modal/DeploymentModal.tsx
  web/src/store/deployment_stats.ts
  web/src/store/deployments.ts
  web/src/store/mocked_deployments.ts
  web/src/types/models.ts
Due: prettier

clean up docs sidebar
  docs/app/layout.config.tsx
  docs/content/docs/meta.json
Due: prettier

fix failing check
  docs/content/docs/meta.json
Due: none

Fix for dependency
  package-lock.json
  web/package.json
Due: none

feat: better handle archived deployments
  backend/core/storage/psql/psql_deployment_storage.py
  backend/core/storage/psql/psql_deployment_storage_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/deployment_service.py
  backend/tests/components/deployments_test.py
Due: ruff, pyright

feat: fully separate clerk and noauth
  .env.example
  CONDITIONAL_CLERK_SETUP.md
  package-lock.json
  web/eslint.config.mjs
  web/next.config.ts
  web/package.json
  web/src/app/api/[...all]/route.ts
  web/src/app/layout.tsx
  web/src/app/sign-in/[[...sign-in]]/page.tsx
  web/src/app/sign-up/[[...sign-up]]/page.tsx
  web/src/auth/base.ts
  web/src/auth/clerk/components.spec.ts
  web/src/auth/clerk/components.tsx
  web/src/auth/clerk/server.spec.ts
  web/src/auth/clerk/server.ts
  web/src/auth/noauth/components.spec.ts
  web/src/auth/noauth/components.tsx
  web/src/auth/noauth/server.spec.ts
  web/src/auth/noauth/server.ts
  web/src/components/auth/ConditionalClerkProvider.tsx
  web/src/components/auth/SignIn.tsx
  web/src/components/auth/SignUp.tsx
  web/src/components/auth/UserButton.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/lib/apiFetch.ts
  web/src/lib/authStrategy.ts
  web/src/lib/logger.ts
  web/src/lib/queryString.ts
  web/src/lib/tokenUtils.ts
  web/src/lib/utils.ts
  web/src/middleware.ts
  web/tsconfig.clerk.json
  web/tsconfig.json
Due: prettier

fix: separate user button to mark as client compoennt
  Makefile
  web/src/auth/clerk/UserButton.tsx
  web/src/auth/clerk/components.tsx
Due: prettier

fix: prettier
  web/src/auth/noauth/components.spec.ts
  web/src/components/sidebar/NavigationSidebar.tsx
Due: prettier

fix: remove extra copy from dockerfile
  web.Dockerfile
Due: none

Active Deployment Indicator
  web/src/app/agents/sections/table/AgentsTableAgentCell.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/components/ActivityIndicator.tsx
Due: prettier

Frontend Fixes
  web/src/auth/base.ts
  web/src/auth/clerk/UserButton.tsx
  web/src/auth/clerk/components.tsx
  web/src/auth/noauth/components.tsx
  web/src/components/auth/ApiKeysButton.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/components/sidebar/ViewsSection.tsx
Due: prettier

Fixes for prettier
  web/src/components/auth/ApiKeysButton.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
Due: prettier

Fix prettier
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
Due: prettier

AAI-30 Clean up results preview on experiments results view
  web/src/app/experiments/sections/table/ExperimentsTableExperimentCell.tsx
  web/src/components/utils/utils.ts
Due: prettier

test: fix deployment test
  backend/protocol/api/_services/deployment_service_test.py
Due: ruff, pyright

add cursor CLI set up steps
  docs/content/docs/index.mdx
  docs/content/docs/self-hosted.mdx
Due: none

fix typo
  docs/content/docs/index.mdx
Due: none

AAI-29 Add LLM icons to model names
  web/src/app/completions/sections/table/cells/CompletionTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableVersionCell.tsx
  web/src/app/deployments/[id]/components/DeploymentInfoSection.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderModel.tsx
  web/src/components/ModelIcon.tsx
  web/src/components/version-details/VersionDetailsView.tsx
  web/src/store/models.ts
  web/src/types/models.ts
Due: prettier

Update docs/content/docs/workflows/index.mdx
  docs/content/docs/workflows/index.mdx
Due: none

update UUID version and add SQL queries
  docs/content/docs/workflows/index.mdx
Due: none

fix agent creation api key steps, agent evaluation code, tab titles
  docs/content/docs/agents/building.mdx
  docs/content/docs/agents/evaluating.mdx
  docs/content/docs/agents/migrating.mdx
Due: none

Prettier fixed
  web/src/app/experiments/sections/table/ExperimentsTableExperimentCell.tsx
  web/src/components/utils/utils.ts
Due: prettier

JEST to frontend added + Tests for Untils and Logic
  CLAUDE.md
  docker-compose.yml
  package-lock.json
  web.Dockerfile
  web/jest.config.js
  web/jest.setup.js
  web/package.json
  web/src/app/experiments/[id]/__tests__/utils.test.ts
  web/src/components/__tests__/SqlKeywordExtension.test.ts
  web/src/components/universal-charts/__tests__/utils.test.ts
  web/src/components/utils/__tests__/stringMatchingUtils.test.ts
  web/src/components/utils/__tests__/utils.test.ts
  web/src/lib/__tests__/queryString.test.ts
  web/src/utils/__tests__/queries.test.ts
Due: prettier

Prettier fixes
  web/jest.config.js
  web/jest.setup.js
  web/src/app/experiments/[id]/__tests__/utils.test.ts
  web/src/components/__tests__/SqlKeywordExtension.test.ts
  web/src/components/universal-charts/__tests__/utils.test.ts
  web/src/components/utils/__tests__/stringMatchingUtils.test.ts
  web/src/components/utils/__tests__/utils.test.ts
  web/src/components/utils/stringMatchingUtils.ts
  web/src/lib/__tests__/queryString.test.ts
  web/src/utils/__tests__/queries.test.ts
  web/src/utils/queries.ts
Due: prettier

Fix for string type
  web/src/components/utils/stringMatchingUtils.ts
Due: prettier

feat: setup event infrastructure
  backend/core/domain/events.py
  backend/core/domain/metrics.py
  backend/core/providers/_base/abstract_provider.py
  backend/core/services/completion_runner.py
  backend/core/services/payment_service.py
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_tenant_storage_test.py
  backend/core/storage/tenant_storage.py
  backend/core/utils/background.py
  backend/protocol/_common/_default_event_router.py
  backend/protocol/_common/_default_storage_builder.py
  backend/protocol/_common/lifecycle.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_router.py
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_run_router.py
  backend/protocol/api/api_server.py
  backend/protocol/worker/__init__.py
  backend/protocol/worker/_dependencies.py
  backend/protocol/worker/tasks/__init__.py
  backend/protocol/worker/tasks/store_completion_tasks.py
  backend/protocol/worker/worker.py
  backend/tests/components/_common.py
  backend/tests/components/conftest.py
  package-lock.json
  uv.lock
Due: ruff, pyright

feat: add extract variables from messages
  backend/protocol/api/_api_router.py
  backend/protocol/api/_services/utils_service.py
Due: ruff, pyright

test: fix broker start tests
  backend/protocol/api/_mcp_utils.py
  backend/tests/components/conftest.py
Due: ruff, pyright

Support for updated /v1/models + Fix for miltiple fextched for models
  web/src/store/models.ts
Due: prettier

add details about creating vs. updating deployments; update sidebar
  docs/content/docs/deployments/index.mdx
  docs/content/docs/meta.json
Due: none

Fixes
  .github/workflows/.web-quality.yml
  CLAUDE.md
  docker-compose.yml
  web.Dockerfile
  web/jest.config.js
Due: prettier

Layout Fixes for Completion Page
  web/src/app/completions/page.tsx
Due: prettier

AAI-38 Deployment ID in tooltip doesnt match copyable deployment id
  web/src/app/deployments/[id]/components/DeploymentInfoTooltip.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/components/completion-modal/CompletionDetailsView.tsx
Due: prettier

AAI-40 Output schema shown in deployment confirmation changed content but appears identical
  web/src/components/utils/utils.ts
Due: prettier
