Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

Fxes for prettier
  web/src/app/completions/sections/table/cells/CompletionOutputSchemaCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
Due: prettier

docs: clarify that experiment tools work independently of AnotherAI inference endpoint
  backend/protocol/api/_mcp.py
  docs/content/docs/foundations.mdx
Due: ruff, pyright

docs: clarify that experiment tools work independently of AnotherAI inference endpoint (#327)
  backend/protocol/api/_mcp.py
  docs/content/docs/foundations.mdx
Due: ruff, pyright

refacto: make completion id a uuid throughout
  backend/core/domain/agent_completion.py
  backend/core/domain/annotation.py
  backend/core/runners/agent_completion_builder.py
  backend/core/runners/runner.py
  backend/core/services/completion_runner.py
  backend/core/services/store_completion/completion_storer.py
  backend/core/storage/clickhouse/_models/_ch_annotation.py
  backend/core/storage/clickhouse/_models/_ch_completion.py
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/storage/completion_storage.py
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/psql_annotation_storage.py
  backend/core/storage/psql/psql_annotation_storage_test.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/core/utils/uuid.py
  backend/core/utils/uuid_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_router.py
  backend/protocol/api/_services/_urls.py
  backend/protocol/api/_services/completion_service.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/run/_run_conversions.py
  backend/protocol/api/_services/run/_run_conversions_test.py
  backend/protocol/api/_services/run/run_service.py
  backend/tests/fake_models.py
Due: ruff, pyright

feat: use full any of for allowing strings in mcp tools
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_mcp_utils_test.py
Due: ruff, pyright

chore: add .mcp.json to gitignore
  .gitignore
Due: none

Fixes after QA
  web/src/app/experiments/[id]/__tests__/utils.test.ts
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionCell.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionMetrics.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderMetrics.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderPriceAndLatency.tsx
  web/src/app/experiments/[id]/utils.ts
  web/src/components/MetricItem.tsx
  web/src/components/MetricsDisplay.tsx
  web/src/components/PriceAndLatencyDisplay.tsx
  web/src/components/messages/MessageMetricsDisplay.tsx
  web/src/components/messages/MessageView.tsx
Due: prettier

fix: use uuid in annotations
  backend/core/storage/annotation_storage.py
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/completion_storage.py
  backend/core/storage/psql/psql_annotation_storage.py
  backend/core/storage/psql/psql_annotation_storage_test.py
  backend/protocol/api/_services/_urls.py
  backend/protocol/api/_services/annotation_service.py
  backend/protocol/api/_services/completion_service.py
  backend/protocol/api/_services/deployment_service.py
  backend/protocol/api/_services/experiment_service.py
  backend/protocol/api/_services/run/_run_conversions_test.py
Due: ruff, pyright

feat: add missing mistral models
  .vscode/launch.json
  backend/core/domain/models/_mistral.py
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/domain/models/models.py
  scripts/check_mistral_models.py
Due: ruff, pyright

test: fix leftover uuid issues
  backend/core/storage/clickhouse/_models/_ch_completion_test.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/tests/fake_models.py
Due: ruff, pyright

feat: raise agent not found in create_deployment
  backend/core/utils/uuid.py
  backend/core/utils/uuid_test.py
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/deployment_service.py
  backend/protocol/api/_services/deployment_service_test.py
  backend/protocol/api/_services/experiment_service.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/utils_service.py
Due: ruff, pyright

fix: mistral thinking
  backend/core/providers/mistral/mistral_domain.py
  backend/core/providers/mistral/mistral_domain_test.py
  backend/core/providers/mistral/mistral_provider.py
  backend/core/providers/mistral/mistral_provider_test.py
  backend/tests/fixtures/mistralai/completion_reasoning.json
Due: ruff, pyright

restore missing images on readme
  docs/public/images/completions-slow-list.png
  docs/public/images/experiment-compare-models.png
  docs/public/images/view-graph-cost-over-time.png
Due: none

completions that return errors (and cost 0$) should not count as valid when comparing costs and latency
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionCell.tsx
  web/src/components/TableComponent/TableComponent.tsx
  web/src/components/TableComponent/useTableScrolling.ts
  web/src/components/utils/__tests__/utils.test.ts
  web/src/components/utils/utils.ts
Due: prettier

Fixes for Prettier
  web/src/components/utils/__tests__/utils.test.ts
  web/src/components/utils/utils.ts
Due: prettier

fix: mistral thinking streaming
  backend/core/providers/mistral/mistral_domain.py
  backend/core/providers/mistral/mistral_domain_test.py
  backend/core/providers/mistral/mistral_provider_test.py
  backend/tests/fixtures/mistralai/stream_reasoning.txt
Due: ruff, pyright

test: fix test_with_real_sses_and_tools
  backend/core/providers/mistral/mistral_provider_test.py
Due: ruff, pyright

test: fix test_deployment_archive
  backend/tests/components/deployments_test.py
Due: ruff, pyright

GitHub-309 Add client-side sorting to agents table headers
  web/src/app/agents/sections/table/AgentsTable.tsx
Due: prettier

Fixes
  web/src/app/agents/sections/table/AgentsTable.tsx
Due: prettier

ROUGH draft of image use case page in docs
  docs/content/docs/use-cases/image-agents.mdx
Due: none

add image use case page to sidebar
  docs/content/docs/use-cases/meta.json
Due: none

fix: accept string serialized versions
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/playground_service_test.py
Due: ruff, pyright

feat: allow wrapped ids
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_test.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/utils_service.py
Due: ruff, pyright

feat: allow wrapped ids when creating experiments
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
  backend/protocol/api/_services/deployment_service.py
  backend/protocol/api/_services/experiment_service.py
  backend/protocol/api/_services/ids_service.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/utils_service.py
Due: ruff, pyright

feat: add basis for stripe service
  backend/core/domain/tenant_data.py
  backend/core/services/stripe/__init__.py
  backend/core/services/stripe/stripe_service.py
  backend/core/services/stripe/stripe_service_test.py
  backend/core/storage/tenant_storage.py
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_payment_router.py
  backend/protocol/api/_services/security_service.py
  backend/protocol/api/_services/security_service_test.py
  backend/protocol/api/api_server.py
  pyproject.toml
  uv.lock
Due: ruff, pyright

feat: add create payment intent
  backend/core/services/stripe/stripe_service.py
  backend/core/services/stripe/stripe_service_test.py
  backend/core/storage/tenant_storage.py
  backend/protocol/api/_payment_router.py
  backend/tests/fake_models.py
Due: ruff, pyright

feat: add update automatic payment
  backend/core/services/stripe/stripe_service.py
  backend/protocol/api/_payment_router.py
Due: ruff, pyright

GitHub-267 Experiment Page Hide Version
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/hooks/useVersionHiding.ts
Due: prettier

GitHub-341 Render image URLs in web app
  web/src/components/VariablesViewer/ValueDisplay.tsx
Due: prettier

update tool description, docs and docs name
  backend/protocol/api/_mcp.py
  docs/content/docs/features/modalities.mdx
  docs/content/docs/features/non-text-inputs.mdx
Due: ruff, pyright

add text content to image and pdf use case pages
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/pdf-processing-agents.mdx
Due: none

feat: add loops service
  backend/core/services/email_service.py
  backend/core/services/loops/__init__.py
  backend/core/services/loops/loops_email_service.py
  backend/core/services/loops/loops_email_service_test.py
Due: ruff, pyright

fix: remove extra mistral model
  backend/core/domain/models/_mistral.py
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/domain/models/models.py
Due: ruff, pyright

feat: add redis cache
  backend/core/storage/kv_storage.py
  backend/core/storage/redis/__init__.py
  backend/core/storage/redis/redis_storage.py
  backend/core/storage/redis/redis_storage_test.py
  backend/core/utils/remote_cached.py
  backend/core/utils/remote_cached_test.py
Due: ruff, pyright

feat: increase size limit for files
  backend/protocol/api/_services/files_service.py
Due: ruff, pyright

Unified Currency Formating
  web/src/app/agents/[agentId]/components/AgentSummarySection.tsx
  web/src/app/completions/sections/table/cells/CompletionTableCell.tsx
  web/src/app/metrics/components/MetricsSummary.tsx
  web/src/components/MetricItem.tsx
  web/src/components/completion-modal/TracesView.tsx
  web/src/components/completion-modal/completion-trace/TraceAgentEntry.tsx
  web/src/components/completion-modal/completion-trace/TraceCompletionEntry.tsx
  web/src/components/messages/MessageMetricsDisplay.tsx
  web/src/components/utils/__tests__/utils.test.ts
  web/src/components/utils/utils.ts
Due: prettier

feat: start kv storage in lifecycle
  backend/core/storage/local_kv_storage/__init__.py
  backend/core/storage/local_kv_storage/local_kv_storage.py
  backend/core/storage/local_kv_storage/local_kv_storage_test.py
  backend/core/utils/lru/lru_cache.py
  backend/protocol/_common/lifecycle.py
Due: ruff, pyright

feat: add clerk service
  backend/core/services/clerk/clerk_user_manager.py
  backend/core/services/clerk/clerk_user_service.py
  backend/core/services/clerk/clerk_user_service_test.py
  backend/core/services/loops/loops_email_service.py
  backend/core/services/loops/loops_email_service_test.py
  backend/core/services/stripe/stripe_service.py
  backend/core/services/stripe/stripe_service_test.py
  backend/core/services/user_service.py
  backend/core/storage/kv_storage.py
  backend/core/storage/tenant_storage.py
  backend/core/utils/remote_cached.py
Due: ruff, pyright

feat: add stripe webhook
  backend/core/services/clerk/clerk_user_manager.py
  backend/core/services/clerk/clerk_user_manager_test.py
  backend/core/services/clerk/clerk_user_service.py
  backend/core/services/clerk/clerk_user_service_test.py
  backend/core/services/stripe/stripe_service.py
  backend/protocol/_common/lifecycle.py
  backend/protocol/api/_payment_router.py
Due: ruff, pyright

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
