Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

Prettier fixes
  web/src/app/home/components/bundled-content.ts
  web/src/app/home/components/utils.tsx
Due: prettier

feat: handle prompt too long on fireworks
  backend/core/providers/fireworks/fireworks_provider.py
  backend/core/providers/fireworks/fireworks_provider_test.py
Due: ruff, pyright

GitHub-216 Completion detail view was streamed
  backend/core/domain/agent_completion.py
  backend/core/runners/agent_completion_builder.py
  backend/core/runners/runner.py
  backend/core/services/completion_runner.py
  backend/core/storage/clickhouse/_models/_ch_completion.py
  backend/core/storage/clickhouse/_models/_ch_completion_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/run/run_service.py
  web/src/app/completions/sections/table/cells/CompletionTableVersionCell.tsx
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/version-details/VersionDetailsView.tsx
  web/src/types/models.ts
Due: ruff, pyright, prettier

feat: handle input length in anthropic
  backend/core/providers/anthropic/anthropic_domain.py
  backend/core/providers/anthropic/anthropic_domain_test.py
  backend/core/providers/anthropic/anthropic_provider_test.py
Due: ruff, pyright

feat: handle invalid request in fireworks
  backend/core/providers/fireworks/fireworks_provider.py
  backend/core/providers/fireworks/fireworks_provider_test.py
Due: ruff, pyright

feat: handle unknown provider errors in groq
  backend/core/providers/groq/groq_provider.py
  backend/core/providers/groq/groq_provider_test.py
Due: ruff, pyright

feat: handle context in mistral
  backend/core/providers/mistral/mistral_provider.py
  backend/core/providers/mistral/mistral_provider_test.py
Due: ruff, pyright

Fixes after QA
  backend/core/domain/agent_completion.py
  backend/core/runners/agent_completion_builder.py
  backend/core/runners/runner.py
  backend/core/services/completion_runner.py
  backend/core/storage/clickhouse/_models/_ch_completion.py
  backend/core/storage/clickhouse/_models/_ch_completion_test.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/version-details/VersionDetailsView.tsx
Due: ruff, pyright, prettier

Fixes
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/run/run_service.py
  web/src/types/models.ts
Due: ruff, pyright, prettier

Fix for build
  web/src/components/utils/utils.ts
Due: prettier

Fixes after Code Review
  backend/core/services/completion_runner.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/run/run_service.py
Due: ruff, pyright

GitHub-462 Reasoning Token Count Support
  backend/core/domain/experiment.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/experiment_service.py
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionCell.tsx
  web/src/components/MetricItem.tsx
  web/src/components/completion-modal/TracesView.tsx
  web/src/components/utils/__tests__/utils.test.ts
  web/src/components/utils/utils.ts
  web/src/types/models.ts
Due: ruff, pyright, prettier

Fixes
  web/eslint.config.mjs
  web/src/app/home/components/bundled-content.ts
  web/src/components/utils/__tests__/utils.test.ts
Due: prettier

Fix
  backend/protocol/api/_services/experiment_service.py
  web/src/app/experiments/[id]/sections/Results/completion/CompletionCell.tsx
  web/src/app/home/components/bundled-content.ts
  web/src/components/MetricItem.tsx
  web/src/components/completion-modal/TracesView.tsx
  web/src/components/utils/__tests__/utils.test.ts
  web/src/components/utils/utils.ts
Due: ruff, pyright, prettier

Fix for the excluded fields
  backend/core/storage/completion_storage.py
  backend/protocol/api/_services/experiment_service.py
Due: ruff, pyright

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
