Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

first draft of annotations
  docs/content/docs/annotations/annotations.mdx
Due: none

Add docker-compose instructions to CLAUDE.md
  CLAUDE.md
Due: none

feat: auto build images on main
  .github/workflows/.build-ghcr.yml
  .github/workflows/main.yml
Due: none

fix: missing function in completion
  .github/workflows/.build-ghcr.yml
  .vscode/settings.json
  backend/protocol/api/_services/_run_conversions.py
  backend/protocol/api/_services/_run_service.py
  backend/protocol/api/_services/_urls.py
  backend/protocol/api/_services/conversions.py
  docker-compose.yml
Due: ruff, pyright

fix: image urls
  examples/quickstart/docker-compose.yml
Due: none

test: fix patch in conversion tests
  backend/protocol/api/_services/conversions_test.py
Due: ruff, pyright

fix: add needs to deploy images
  .github/workflows/main.yml
Due: none

fix: build images and quickstart docker
  .github/workflows/.build-ghcr.yml
  backend.Dockerfile
  examples/quickstart/docker-compose.yml
Due: none

Deployment confirmation modal
  web/src/app/completions/sections/table/cells/CompletionObjectTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionOutputSchemaCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
  web/src/app/layout.tsx
  web/src/components/deployment-modal/DeploymentModal.tsx
  web/src/components/deployment-modal/components/CompareSection.tsx
  web/src/components/deployment-modal/components/CompareVersionsView.tsx
  web/src/components/utils/utils.ts
  web/src/store/completions.ts
Due: prettier

Page for deployments
  web/src/app/deployments/[completion_id]/page.tsx
Due: prettier

Prettier changes
  web/src/app/completions/sections/table/cells/CompletionObjectTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionOutputSchemaCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableCell.tsx
  web/src/app/completions/sections/table/cells/CompletionTableInputOutputCell.tsx
  web/src/app/deployments/[completion_id]/page.tsx
  web/src/components/deployment-modal/DeploymentModal.tsx
  web/src/components/deployment-modal/components/CompareSection.tsx
  web/src/components/deployment-modal/components/CompareVersionsView.tsx
  web/src/components/utils/utils.ts
  web/src/store/completions.ts
Due: prettier

feat: add offline search for documentation
  backend/core/agents/search_documentation.py
  backend/core/services/documentation_search.py
  backend/core/services/documentation_search_test.py
Due: ruff, pyright

feat: add basis for input storage
  backend/conftest.py
  backend/core/domain/agent_input.py
  backend/core/services/file_service.py
  backend/core/services/store_completion/_run_previews.py
  backend/core/services/store_completion/_run_previews_test.py
  backend/core/services/store_completion/completion_storer.py
  backend/core/storage/clickhouse/_models/_ch_completion.py
  backend/core/storage/clickhouse/_models/_ch_field_utils.py
  backend/core/storage/clickhouse/_models/_ch_input.py
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/storage/clickhouse/migrations/1_completions.sql
  backend/core/storage/clickhouse/migrations/3_experiments.sql
  backend/core/storage/clickhouse/migrations/4_inputs.sql
  backend/core/storage/completion_storage.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/input_service.py
  backend/protocol/api/api_router.py
  backend/tests/fake_models.py
Due: ruff, pyright

test: add component test for inputs
  backend/core/domain/agent_input.py
  backend/core/storage/clickhouse/_utils.py
  backend/protocol/api/_api_models.py
  backend/tests/components/inputs_test.py
Due: ruff, pyright

feat: use replacing merge tree to avoid duplicate input ids
  backend/core/storage/clickhouse/migrations/4_inputs.sql
Due: pyright

update MCP installation instructions to match README and clean up Products section
  docs/content/docs/index.mdx
Due: none

update community forum link and bonus hosted tools cleanup
  docs/content/docs/agents/tools.private.mdx
  docs/content/docs/index.mdx
Due: none

revert tools.private cleanup; add back api_url placeholders
  docs/content/docs/agents/tools.private.mdx
  docs/content/docs/index.mdx
Due: none

View and Folder Managment
  backend/protocol/api/api_router.py
  web/src/components/auth/SignedOut.tsx
  web/src/components/sidebar/EditableFolderName.tsx
  web/src/components/sidebar/EditableViewTitle.tsx
  web/src/components/sidebar/FolderCell.tsx
  web/src/components/sidebar/FolderMenuButton.tsx
  web/src/components/sidebar/ViewCell.tsx
  web/src/components/sidebar/ViewsSection.tsx
  web/src/store/views.ts
Due: ruff, pyright, prettier

Missing PR from Orginal Repo
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderPrompt.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderPromptAndSchema.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderSchema.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderSharedPromptAndSchema.tsx
  web/src/components/TableComponent.tsx
  web/src/components/universal-charts/UniversalBarChart.tsx
  web/src/components/universal-charts/UniversalLineChart.tsx
  web/src/components/universal-charts/UniversalPieChart.tsx
  web/src/components/universal-charts/UniversalScatterChart.tsx
  web/src/components/utils/utils.ts
Due: prettier

Fixes and cleaning up
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderPrompt.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderSchema.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderSharedPromptAndSchema.tsx
  web/src/components/universal-charts/UniversalBarChart.tsx
  web/src/components/universal-charts/UniversalLineChart.tsx
  web/src/components/universal-charts/UniversalPieChart.tsx
  web/src/components/universal-charts/UniversalScatterChart.tsx
Due: prettier

feat: add basis for deployment routes
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_run_models.py
  backend/protocol/api/api_router.py
Due: ruff, pyright

fix: clarify that deployemnt ids are unique
  backend/protocol/api/_api_models.py
  backend/protocol/api/api_router.py
Due: ruff, pyright

[10] Support displaying input images in anotherai web app
  web/next.config.ts
  web/src/components/auth/SignedOut.tsx
  web/src/components/messages/ImageViewer.tsx
  web/src/components/messages/MessageContentView.tsx
Due: prettier

Prettier fixes
  web/next.config.ts
Due: prettier

support displaying the images in completions page too
  web/src/components/messages/MessageContentView.tsx
  web/src/components/messages/MessagesViewer.tsx
Due: prettier

Fix for input varibles
  web/src/components/VariablesViewer/ValueDisplay.tsx
Due: prettier

Fixes for bugs found by Claude
  web/src/components/sidebar/EditableFolderName.tsx
  web/src/components/sidebar/EditableViewTitle.tsx
  web/src/components/sidebar/FolderCell.tsx
  web/src/components/sidebar/ViewCell.tsx
  web/src/components/sidebar/ViewsSection.tsx
Due: prettier

wip: add missing files for doc app
  .gitignore
  docs/.eslintrc.json
  docs/README.md
  docs/app/(docs)/[[...slug]]/page.tsx
  docs/app/(docs)/layout-with-icons.tsx
  docs/app/(docs)/layout.tsx
  docs/app/actions/slack-feedback.ts
  docs/app/ai-reader/[[...slug]]/route.ts
  docs/app/api/ai/index/route.ts
  docs/app/api/search/route.ts
  docs/app/global.css
  docs/app/layout.config.tsx
  docs/app/layout.tsx
  docs/app/llms.txt/route.ts
  docs/components/copy-markdown-button.tsx
  docs/components/rate.tsx
  docs/components/status-monitor.tsx
  docs/components/toc-dropdown.tsx
  docs/components/tremor/card.tsx
  docs/components/tremor/index.ts
  docs/components/tremor/tracker.tsx
  docs/components/workflow-model-count.tsx
  docs/components/workflow-models-table.tsx
  docs/components/workflow-models-wrapper.tsx
  docs/lib/cn.ts
  docs/lib/get-llm-text.ts
  docs/lib/source.ts
  docs/mdx-components.tsx
  docs/next.config.mjs
  docs/package.json
  docs/postcss.config.mjs
  docs/source.config.ts
  docs/tailwind.config.js
  docs/tsconfig.json
  package-lock.json
  package.json
Due: prettier

fix: add missing images
  docs/app/(docs)/[[...slug]]/page.tsx
  docs/content/docs/cli.private.mdx
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/index.mdx
  docs/content/docs/inference/caching.mdx
  docs/content/docs/inference/models.mdx
  docs/content/docs/observability/index.mdx
  docs/next-env.d.ts
  docs/public/images/inference/caching/header.png
  docs/public/images/inference/overview.png
  docs/public/images/inference/reliability/model-fallback.png
  docs/public/images/inference/reliability/provider-fallback.png
  docs/public/images/mcp/cursor-setup-ok.png
  docs/public/images/pricing/header.png
Due: prettier

fix: remove source
  .gitignore
  docs/source.config.ts
Due: prettier

fix: build for doc
  docs/content/docs/foundations.mdx
  docs/lib/template-replacement.ts
Due: prettier

feat: add docker build for docs
  docker-compose.yml
  docs/next.config.mjs
  docs/package.json
Due: prettier

feat: add docker build for docs
  docs.Dockerfile
Due: none

fix: remove extra README
  docs/README.md
Due: none

add image description example agent to documentation
  docs/content/docs/examples/image-input-agents.mdx
Due: none

add input variables and images example
  docs/content/docs/examples/image-input-agents.mdx
Due: none

fix documentation to better explain scores/metrics in annotations
  docs/content/docs/annotations/annotations.mdx
Due: none

doc: update docstring for create_or_update_deployment
  backend/protocol/api/_mcp.py
  backend/protocol/api/api_router.py
Due: ruff, pyright

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
