Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

feat: add missing gemini models
  backend/core/domain/models/model_data_mapping.py
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/domain/models/models.py
Due: ruff, pyright

test: fix model tests
  backend/core/domain/models/model_data_mapping.py
  backend/core/domain/models/model_data_mapping_test.py
Due: ruff, pyright

fix: only prefix id in MCP
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
  backend/protocol/api/_services/deployment_service.py
  backend/protocol/api/_services/deployment_service_test.py
  backend/tests/components/deployments_test.py
Due: ruff, pyright

fix: extra default res id in bedrock
  backend/core/providers/amazon_bedrock/amazon_bedrock_config.py
Due: ruff, pyright

test: fix amazon bedrock test
  backend/core/providers/amazon_bedrock/amazon_bedrock_provider_test.py
Due: ruff, pyright

feat: handle openai file content
  backend/core/domain/models/model_data_mapping.py
  backend/core/providers/openai/openai_domain.py
  backend/core/providers/openai/openai_domain_test.py
  backend/core/providers/openai/openai_provider_base.py
  backend/core/providers/openai/openai_provider_base_test.py
  backend/core/utils/strings.py
  backend/core/utils/strings_test.py
  backend/protocol/api/_run_models.py
  backend/protocol/api/_services/run/_run_conversions.py
  backend/protocol/api/_services/run/_run_conversions_test.py
Due: ruff, pyright

GitHub-383 Issue with displaying PDFs in Input Values on Experiment Page
  web/src/components/VariablesViewer/ValueDisplay.tsx
  web/src/components/messages/FileView.tsx
Due: prettier

docs: add preview release notes
  docs/content/docs/releases/preview.mdx
Due: none

docs: update preview announcement and index page
  docs/content/docs/index.mdx
  docs/content/docs/releases/preview.mdx
Due: none

update query_completions tool description to encourage model to load queries' images
  backend/protocol/api/_mcp.py
Due: ruff, pyright

GitHub-378 Adjustable Column Widths in Experiment Page
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/version/ColumnResizeLayer.tsx
  web/src/app/experiments/[id]/sections/Results/version/ColumnResizer.tsx
  web/src/app/experiments/[id]/sections/Results/version/DraggableColumnWrapper.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/components/TableComponent/TableBody.tsx
  web/src/components/TableComponent/TableComponent.tsx
  web/src/components/TableComponent/TableHeader.tsx
  web/src/hooks/useColumnWidths.ts
Due: prettier

fixes
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
Due: prettier

make query_completions description on handling non-text inputs more general
  backend/protocol/api/_mcp.py
Due: ruff, pyright

add example prompts, file path details, ai report image
  docs/content/docs/use-cases/connecting-agents.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/image-agents.mdx
  docs/content/docs/use-cases/pdf-processing-agents.mdx
  docs/content/docs/use-cases/user-feedback.mdx
  docs/public/images/user-feedback-analysis.png
Due: none

move callout that was added in incorrect file
  docs/content/docs/use-cases/image-agents.mdx
  docs/content/docs/use-cases/pdf-processing-agents.mdx
Due: none

Apply suggestions from code review
  docs/content/docs/releases/preview.mdx
Due: none

ci: update Claude workflow to use claude-sonnet-4-5-20250929
  .github/workflows/claude.yml
Due: none

ci: update Claude workflow to use claude-sonnet-4-5-20250929 (#400)
  .github/workflows/claude.yml
Due: none

feat: add payment url
  backend/core/domain/exceptions.py
  backend/protocol/_common/lifecycle.py
  web/src/app/credits/page.tsx
  web/src/components/CreditsSection.tsx
  web/src/lib/queryString.ts
Due: ruff, pyright, prettier

docs: refine preview release notes wording
  docs/content/docs/releases/preview.mdx
Due: none

ci: upgrade Claude Code action from beta to v1
  .github/workflows/claude.yml
Due: none

ci: upgrade Claude Code action from beta to v1 (#403)
  .github/workflows/claude.yml
Due: none

Support for special keys like: image_url + support for detecting images.unspash that is not supporting file extensions
  web/src/components/VariablesViewer/ValueDisplay.tsx
  web/src/components/VariablesViewer/VariablesViewer.tsx
Due: prettier

fix of the url detection
  web/src/components/VariablesViewer/ValueDisplay.tsx
Due: prettier

ci: add uv installation to Claude Code workflow
  .github/workflows/claude.yml
Due: none

ci: add uv installation to Claude Code workflow (#404)
  .github/workflows/claude.yml
Due: none

GitHub-398 Auto recharge UX improvements fixes
  web/src/components/payment-modal/EnableAutoRechargeContent.tsx
Due: prettier

GitHub-385 Add separator to multiple content in the Prompts display in a Message
  web/src/components/messages/UniversalFileViewer.tsx
Due: prettier

GitHub-386 Safari Percentiles Popover Layout Issues
  web/src/app/experiments/[id]/sections/matching/MatchingBaseValue.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingJSONValue.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingToolValue.tsx
  web/src/components/HoverPopover.tsx
  web/src/components/MetricItem.tsx
Due: prettier

GitHub-384 Coping of the Prompt Issues on the Experiment Page
  web/src/app/experiments/[id]/sections/Results/version/DraggableColumnWrapper.tsx
Due: prettier

Bunch of fixes for different scenarios
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/version/DraggableColumnWrapper.tsx
  web/src/components/TableComponent/FirstColumnResizer.tsx
  web/src/components/TableComponent/StickyTableHeaders.tsx
  web/src/components/TableComponent/TableBody.tsx
  web/src/components/TableComponent/TableComponent.tsx
  web/src/components/TableComponent/TableHeader.tsx
Due: prettier

Fixes after QA
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/components/MetricItem.tsx
Due: prettier

add clearer dataset usage guidance and address review comments
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/image-agents.mdx
  docs/content/docs/use-cases/pdf-processing-agents.mdx
Due: none

fix confusing example prompt
  docs/content/docs/use-cases/user-feedback.mdx
Due: none

add demo video of adding local files
  docs/content/docs/use-cases/image-agents.mdx
  docs/content/docs/use-cases/pdf-processing-agents.mdx
Due: none

fix: posthog processors and test
  backend/core/logs/_posthog_processor.py
  backend/core/logs/_posthog_processor_test.py
  backend/core/logs/setup_logs.py
  uv.lock
Due: ruff, pyright

feat: add signup analytics
  backend/core/domain/tenant_data.py
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_tenant_storage_test.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/security_service.py
Due: ruff, pyright

test: add signup log test
  backend/conftest.py
  backend/protocol/api/_services/security_service_test.py
Due: ruff, pyright

feat: add tool call analytics
  backend/protocol/api/_mcp_utils.py
Due: ruff, pyright
