Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

updates after resolving merge conflicts
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/use-cases/code-free-updates.mdx
Due: none

cleanup unused images and outdated components
  docs/app/(docs)/[[...slug]]/page.tsx
  docs/app/layout.tsx
  docs/components/toc-dropdown.tsx
  docs/public/images/completions-list.png
  docs/public/images/completions-slow-list.png
  docs/public/images/experiment-compare-models.png
  docs/public/images/experiment-compare-prompts.png
  docs/public/images/inference/caching/header.png
  docs/public/images/inference/overview.png
  docs/public/images/pricing/header.png
  docs/public/images/view-graph-cost-over-time.png
Due: prettier

fix accidental header usage
  docs/content/docs/use-cases/fundamentals/annotations.mdx
Due: none

update workflows page to show prompt instead of code changes
  docs/content/docs/for_llms_only.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
Due: none

Add fundamentals folder structure and deployment docs
  docs/app/layout.config.tsx
  docs/content/docs/features/api-keys.mdx
  docs/content/docs/features/index.mdx
  docs/content/docs/features/structured-outputs.mdx
  docs/content/docs/for_llms_only.mdx
  docs/content/docs/getting-started.mdx
  docs/content/docs/index.mdx
  docs/content/docs/integrations/openai.mdx
  docs/content/docs/meta.json
  docs/content/docs/self-hosted.mdx
  docs/content/docs/use-cases/building.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/fundementals/building.mdx
  docs/content/docs/use-cases/fundementals/debugging.mdx
  docs/content/docs/use-cases/fundementals/deployments.mdx
  docs/content/docs/use-cases/fundementals/evaluating.mdx
  docs/content/docs/use-cases/fundementals/improving_w_annotations.mdx
  docs/content/docs/use-cases/fundementals/improving_w_experiments.mdx
  docs/content/docs/use-cases/fundementals/meta.json
  docs/content/docs/use-cases/fundementals/metrics.mdx
  docs/content/docs/use-cases/fundementals/migrating.mdx
  docs/content/docs/use-cases/image-agents.mdx
  docs/content/docs/use-cases/improving.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/migrating.mdx
  docs/content/docs/use-cases/user-feedback.mdx
  docs/content/docs/use-cases/using-chatgpt.mdx
Due: prettier

Add Pierre's clarifications to evaluating.mdx documentation
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
Due: none

fix documentation to address Pierre's feedback
  docs/content/docs/use-cases/for-product-managers.mdx
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
Due: none

Documentation improvements and restructuring
  docs/content/docs/features/models.mdx
  docs/content/docs/getting-started.mdx
  docs/content/docs/use-cases/fundamentals/annotations.mdx
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/debugging.mdx
  docs/content/docs/use-cases/fundamentals/deployments.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/fundamentals/experiments.mdx
  docs/content/docs/use-cases/fundamentals/meta.json
  docs/content/docs/use-cases/fundamentals/metrics.mdx
  docs/content/docs/use-cases/fundamentals/migrating.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/user-feedback.mdx
Due: none

add PM-focused use cases to documentation
  docs/content/docs/use-cases/for-product-managers.mdx
  docs/content/docs/use-cases/meta.json
  docs/content/docs/use-cases/using-chatgpt.mdx
Due: none

rewrite annotations, evaluations pages, address review feedback, update instances of claude code to be more generic
  docs/content/docs/features/api-keys.mdx
  docs/content/docs/features/caching.mdx
  docs/content/docs/features/cost.mdx
  docs/content/docs/features/models.mdx
  docs/content/docs/features/structured-outputs.mdx
  docs/content/docs/for_llms_only.mdx
  docs/content/docs/index.mdx
  docs/content/docs/self-hosted.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
  docs/content/docs/use-cases/fundamentals/annotations.mdx
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/debugging.mdx
  docs/content/docs/use-cases/fundamentals/deployments.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/fundamentals/experiments.mdx
  docs/content/docs/use-cases/fundamentals/metrics.mdx
  docs/content/docs/use-cases/fundamentals/migrating.mdx
  docs/content/docs/use-cases/user-feedback.mdx
Due: none

first round of adding images
  docs/content/docs/features/input-variables.mdx
  docs/content/docs/features/models.mdx
  docs/content/docs/features/structured-outputs.mdx
  docs/content/docs/for_llms_only.mdx
  docs/content/docs/use-cases/checking-new-models.mdx
  docs/content/docs/use-cases/for-product-managers.mdx
  docs/content/docs/use-cases/fundamentals/deployments.mdx
  docs/content/docs/use-cases/lowering-costs.mdx
  docs/content/docs/use-cases/user-feedback.mdx
  docs/public/images/checking-new-models-experiment.png
  docs/public/images/cost-optimization-experiment.png
  docs/public/images/input-variables-complex-nested-detail.png
  docs/public/images/input-variables-multiple-detail.png
  docs/public/images/input-variables-single-detail.png
  docs/public/images/mcp-list-models-example.png
  docs/public/images/structured-output-json-example.png
  docs/public/images/structured-output-plain-text-example.png
  docs/public/images/user-feedback-annotations-view.png
  docs/public/images/version-id-location.png
Due: none

add screenshots to documentation
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/experiments.mdx
  docs/public/images/experiment-prompts-comparison.png
  docs/public/images/model-comparison-experiment.png
Due: none

feat: implement playground service
  backend/core/domain/events.py
  backend/core/domain/experiment.py
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/migrations/8_experiment_splits.sql
  backend/core/storage/tenant_storage.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/experiment_service.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/playground_service_test.py
  backend/protocol/worker/_dependencies.py
  backend/protocol/worker/tasks/start_experiment_completion_tasks.py
Due: ruff, pyright

feat: implement tenant storage
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_tenant_storage_test.py
Due: ruff, pyright

fix: experiments split migration
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/migrations/8_experiment_splits.sql
  backend/core/storage/psql/psql_experiment_storage.py
Due: ruff, pyright

jacek/GitHub-235 Update metrics chart copy to clearly indicate timeframes
  web/src/app/metrics/page.tsx
Due: prettier

AAI-83 Wrap text at word breaks
  web/src/components/VariablesViewer/ValueDisplay.tsx
  web/src/components/messages/MessageTextView.tsx
Due: prettier

GitHub-239 Remove Redundant Popovers with Version Details from Experiment Headers
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
Due: prettier

Fixes after QA
  web/src/app/metrics/components/MetricsSummary.tsx
Due: prettier

feat: implement psql experiment storage
  backend/core/domain/cache_usage.py
  backend/core/services/store_completion/_run_previews.py
  backend/core/storage/psql/_psql_base_storage.py
  backend/core/storage/psql/migrations/8_experiment_splits.sql
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/protocol/api/_services/playground_service.py
Due: ruff, pyright

Prettier fixes
  web/src/app/metrics/components/MetricsSummary.tsx
Due: prettier

fix: lint
  backend/core/runners/runner.py
  backend/core/services/completion_runner.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
Due: ruff, pyright

feat: implement list experiment outputs
  backend/core/storage/psql/_psql_base_storage.py
  backend/core/storage/psql/migrations/8_experiment_splits.sql
  backend/core/storage/psql/psql_annotation_storage.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/run/run_service.py
Due: ruff, pyright

fix: tests for list experiment outputs
  backend/core/storage/psql/_psql_base_storage.py
  backend/core/storage/psql/_psql_base_storage_test.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
Due: ruff, pyright

feat: implement get_experiment include
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
Due: ruff, pyright

feat: change limit to 20 for completions
  backend/core/utils/sql_test.py
  web/src/app/deployments/[id]/page.tsx
  web/src/components/__tests__/SqlKeywordExtension.test.ts
  web/src/utils/queries.ts
Due: ruff, pyright, prettier

GitHub-233 Drag and Drop for Columns in Experiment
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/version/DraggableColumnWrapper.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
Due: prettier

test: fix produces valid-looking SQL
  backend/core/utils/sql_test.py
  web/src/utils/__tests__/queries.test.ts
Due: ruff, pyright, prettier

fix: basic test_playground_tool
  backend/core/storage/psql/psql_experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage_test.py
  backend/protocol/_common/_default_event_router.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/worker/tasks/start_experiment_completion_tasks.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

feat: re-implement get_experiment
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/experiment_service.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

test: add tests for new playground tools
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/playground_service.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

fix: remove duplicate streamable check
  backend/core/runners/runner.py
Due: ruff, pyright

doc: add todos and comments for streaming
  backend/core/domain/finish_reason.py
  backend/core/providers/_base/streaming_context.py
Due: ruff, pyright

fix: assign input variable schema in playground
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/experiment_service.py
  backend/protocol/api/_services/playground_service.py
  backend/tests/components/_common.py
  backend/tests/components/annotations_test.py
  backend/tests/components/deployments_test.py
Due: ruff, pyright

fix: version ids in playground service
  backend/conftest.py
  backend/core/services/store_completion/_run_previews.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/playground_service_test.py
  backend/tests/fake_models.py
Due: ruff, pyright

fix: iter product in _start_experiment_completions
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/playground_service_test.py
  backend/tests/fake_models.py
  scripts/local_reset.py
Due: ruff, pyright

test: fix test_list_tools
  backend/tests/components/experiments_test.py
  backend/tests/components/mcp_test.py
Due: ruff, pyright

GitHub-243 Lazy Loading Rows in Completions Table
  web/src/app/completions/sections/table/CompletionsTable.tsx
  web/src/components/SimpleTableComponent.tsx
Due: prettier

fix: tkinter import
  backend/core/providers/_base/httpx_provider_base.py
Due: ruff, pyright

add images to docs
  docs/content/docs/for_llms_only.mdx
  docs/content/docs/use-cases/connecting-agents.mdx
  docs/content/docs/use-cases/fundamentals/annotations.mdx
  docs/content/docs/use-cases/fundamentals/building.mdx
  docs/content/docs/use-cases/fundamentals/deployments.mdx
  docs/content/docs/use-cases/fundamentals/evaluating.mdx
  docs/content/docs/use-cases/fundamentals/experiments.mdx
  docs/content/docs/use-cases/fundamentals/metrics.mdx
  docs/content/docs/use-cases/fundamentals/migrating.mdx
  docs/content/docs/use-cases/user-feedback.mdx
  docs/public/images/agent-level-daily-spending-graph.png
  docs/public/images/calendar-event-accuracy-report.png
  docs/public/images/calendar-event-completions-annotations-with-inputs.png
  docs/public/images/calendar-event-completions-annotations.png
  docs/public/images/calendar-event-extraction-daily-cost.png
  docs/public/images/completion-text-annotations.png
  docs/public/images/daily-completions-count-bar-chart.png
  docs/public/images/deployment-individual-view.png
  docs/public/images/deployment-update-confirmation.png
  docs/public/images/email-rewriter-experiment-analysis.png
  docs/public/images/email-rewriter-experiment-comparison.png
  docs/public/images/email-rewriter-temperature-experiment.png
  docs/public/images/email-summarizer-completion-details.png
  docs/public/images/meeting-analysis-workflow-instances-table.png
  docs/public/images/model-tone-comparison.png
  docs/public/images/organization-daily-spending-graph.png
  docs/public/images/workflow-daily-cost-graph.png
Due: none
