Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

docker build issue fix
  backend.Dockerfile
Due: none

first draft of deployment step by step guid
  docs/content/docs/deployments/step-by-step-guide.mdx
Due: none

add image, fix meta.json, polish copy
  docs/content/docs/deployments/meta.json
  docs/content/docs/deployments/step-by-step-guide.mdx
  docs/public/images/copy_version_id.png
Due: none

Change from G
  backend.Dockerfile
  docker-compose.yml
Due: none

copy polishes
  docs/content/docs/deployments/step-by-step-guide.mdx
Due: none

draft framework page template
  docs/content/docs/integrations/index.mdx
  docs/content/docs/integrations/meta.json
  docs/content/docs/integrations/openai_sdk.mdx
  docs/content/docs/integrations/vercel_sdk.mdx
  docs/content/docs/meta.json
Due: none

update todos that were waiting on other PRs to be merged
  docs/content/docs/agents/building.mdx
  docs/content/docs/index.mdx
Due: none

fix: mussing unist-util-visit
  docs/package.json
  web.Dockerfile
  yarn.lock
Due: none

fix: yarn immutable install
  docker-compose.yml
  docs.Dockerfile
  docs/package.json
  package.json
  web.Dockerfile
  web/package.json
  yarn.lock
Due: none

fix: uncomment dev in docker-compose web
  docker-compose.yml
Due: none

Completions Page Glitching Queries Fix
  web/src/app/agents/[agentId]/page.tsx
  web/src/app/completions/page.tsx
  web/src/app/completions/useQuerySync.ts
  web/src/components/completion-modal/MetadataView.tsx
Due: prettier

jacek/New Loading and Empty stated for all Main Pages with Docs Links
  web/src/app/agents/sections/table/AgentsTable.tsx
  web/src/app/completions/page.tsx
  web/src/app/completions/sections/table/CompletionsTable.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/app/experiments/page.tsx
  web/src/app/experiments/sections/table/ExperimentsTable.tsx
  web/src/components/EmptyState.tsx
  web/src/components/LoadingState.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
Due: prettier

Fix for loading states for the experiment page
  web/src/app/experiments/[id]/page.tsx
Due: prettier

Fix for loading state import
  web/src/app/views/[id]/page.tsx
Due: prettier

fix: compute preview and accept output with object
  backend/core/services/store_completion/_run_previews.py
  backend/core/services/store_completion/_run_previews_test.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
Due: ruff, pyright

fix: missing imports
  docs/content/docs/deployments/index.mdx
  docs/content/docs/inference/modalities.mdx
Due: none

New Log out page with link to docs
  web/src/app/layout.tsx
Due: prettier

fix: no tabs items in modalities
  docs/content/docs/inference/modalities.mdx
Due: none

Support for files in messages
  web/src/components/messages/FileView.tsx
  web/src/components/messages/MessageContentView.tsx
  web/src/components/messages/MessagesViewer.tsx
  web/src/types/models.ts
Due: prettier

New links
  web/src/app/agents/sections/table/AgentsTable.tsx
  web/src/app/experiments/sections/table/ExperimentsTable.tsx
Due: prettier

clean up documentation todos
  README.md
  docs/app/layout.config.tsx
  docs/components/workflow-models-table.tsx
  docs/content/docs/deployments/index.mdx
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/index.mdx
  docs/content/docs/inference/caching.mdx
  docs/content/docs/inference/cost.mdx
  docs/content/docs/inference/index.mdx
  docs/content/docs/inference/meta.json
  docs/content/docs/inference/modalities.mdx
  docs/content/docs/inference/models.mdx
  docs/content/docs/inference/reasoning.mdx
  docs/content/docs/inference/reliability.private.mdx
  docs/content/docs/inference/streaming.private.mdx
  docs/content/docs/inference/structured-outputs.mdx
  docs/content/docs/observability/conversations.private.mdx
  docs/content/docs/observability/index.mdx
  docs/content/docs/observability/input-variables.mdx
  docs/content/docs/self-hosted.mdx
Due: prettier

clean up documentation todos
  docs/app/layout.config.tsx
  docs/components/workflow-models-table.tsx
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/index.mdx
  docs/content/docs/inference/caching.mdx
  docs/content/docs/inference/cost.mdx
  docs/content/docs/inference/index.mdx
  docs/content/docs/inference/meta.json
  docs/content/docs/inference/models.mdx
  docs/content/docs/inference/reasoning.mdx
  docs/content/docs/inference/reliability.private.mdx
  docs/content/docs/inference/streaming.private.mdx
  docs/content/docs/inference/structured-outputs.mdx
  docs/content/docs/observability/conversations.private.mdx
  docs/content/docs/observability/index.mdx
  docs/content/docs/observability/input-variables.mdx
  docs/content/docs/self-hosted.mdx
Due: prettier

fix failing check
  docs/content/docs/inference/meta.json
Due: none

fix urls and code in documentation
  docs/content/docs/agents/improving.mdx
  docs/content/docs/agents/migrating.mdx
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/inference/caching.mdx
  docs/content/docs/workflows/index.mdx
Due: none

fix: update claude readme
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: none

fix: proper groq invalid file errors
  backend/core/providers/groq/groq_provider.py
  backend/core/providers/groq/groq_provider_test.py
Due: ruff, pyright

fix: issue with deploying versions created from playground
  backend/core/services/messages/messages_utils.py
  backend/core/services/messages/messages_utils_test.py
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/run/run_service.py
  backend/tests/components/deployments_test.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

jacek/GitHub-102 GitHub-100 GitHub-98 GitHub-94 GitHub-95 Fixes + Slack Ones
  web/src/app/agents/sections/table/AgentsTable.tsx
  web/src/app/agents/sections/table/AgentsTableAgentCell.tsx
  web/src/app/completions/sections/table/CompletionsTable.tsx
  web/src/app/deployments/[id]/components/DeploymentInfoSection.tsx
  web/src/app/deployments/[id]/components/DeploymentTableRows.tsx
  web/src/app/deployments/[id]/components/renderValue.tsx
  web/src/app/deployments/[id]/page.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionMetrics.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderMetrics.tsx
  web/src/components/ActivityIndicator.tsx
  web/src/components/EmptyState.tsx
  web/src/components/PriceAndLatencyDisplay.tsx
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/experiment/DeployVersionInstructions.tsx
  web/src/components/utils/utils.ts
  web/src/store/agents_stats.ts
  web/src/store/deployment_stats.ts
Due: prettier

test: fix testprepareformodel
  backend/protocol/api/_services/run/run_service_test.py
Due: ruff, pyright

MCP set up link updated
  web/src/components/sidebar/NavigationSidebar.tsx
Due: prettier

fix: add yarnrc to docker images since some lib do not support the default linker
  docs.Dockerfile
  docs/next-env.d.ts
  web.Dockerfile
  web/package.json
  yarn.lock
Due: prettier

fix: tool deserialization
  backend/core/domain/tool.py
  backend/core/domain/version.py
  backend/core/domain/version_test.py
Due: ruff, pyright

fix: properly convert hosted tool
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
Due: ruff, pyright

update deployment guide steps
  docs/content/docs/deployments/step-by-step-guide.mdx
  docs/next-env.d.ts
  docs/public/images/completion-version-details.png
  docs/public/images/copy_version_id.png
  docs/public/images/deploy-version-popup.png
Due: prettier

fix version id syntax
  docs/content/docs/deployments/step-by-step-guide.mdx
Due: none

fix: tool call result deser
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_models_test.py
Due: ruff, pyright

[GitHub-102] [GitHub-100] [GitHub-98] [GitHub-94] [GitHub-95] Fixes + Slack Ones (#107)
  web/src/app/agents/sections/table/AgentsTable.tsx
  web/src/app/agents/sections/table/AgentsTableAgentCell.tsx
  web/src/app/completions/sections/table/CompletionsTable.tsx
  web/src/app/deployments/[id]/components/DeploymentInfoSection.tsx
  web/src/app/deployments/[id]/components/DeploymentTableRows.tsx
  web/src/app/deployments/[id]/components/renderValue.tsx
  web/src/app/deployments/[id]/page.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionMetrics.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderMetrics.tsx
  web/src/components/ActivityIndicator.tsx
  web/src/components/EmptyState.tsx
  web/src/components/PriceAndLatencyDisplay.tsx
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/experiment/DeployVersionInstructions.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/components/utils/utils.ts
  web/src/store/agents_stats.ts
  web/src/store/deployment_stats.ts
Due: prettier

feat: add basis for migration doc
  docs/content/docs/workflowai-migration.private.mdx
Due: none

Deployment step by step guide (#80)
  docs/content/docs/deployments/meta.json
  docs/content/docs/deployments/step-by-step-guide.mdx
  docs/public/images/completion-version-details.png
  docs/public/images/deploy-version-popup.png
Due: none

feat: add next steps for migration doc
  docs/content/docs/workflowai-migration.private.mdx
Due: none
