Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

fix failing check
  docs/content/docs/for_llms_only.mdx
Due: none

add missing images to docs; polish copy
  docs/content/docs/use-cases/for-product-managers.mdx
  docs/content/docs/use-cases/fundamentals/annotations.mdx
  docs/content/docs/use-cases/fundamentals/migrating.mdx
  docs/public/images/completion-detail-view-id.png
Due: none

GitHub-237 Time Range Selector for Metrics Page
  web/src/app/metrics/components/MetricsSummary.tsx
  web/src/app/metrics/page.tsx
  web/src/components/MetricsCustomViewsInstructions.tsx
  web/src/components/TimeRangeSelector.tsx
Due: prettier

test: add test for parameters in completion
  backend/core/providers/openai/openai_domain.py
  backend/tests/components/_common.py
  backend/tests/components/run/_base.py
  backend/tests/components/run/run_test.py
Due: ruff, pyright

feat: add example for text summarizer
  examples/agents/text_summarizer/__init__.py
  examples/agents/text_summarizer/apple.txt
  examples/agents/text_summarizer/quantum.txt
  examples/agents/text_summarizer/text_summarizer.py
  pyproject.toml
Due: ruff

fix: doc for create_experiment
  backend/protocol/api/_mcp.py
  backend/tests/components/_common.py
  backend/tests/components/playground_test.py
  docs/content/docs/foundations.mdx
Due: ruff, pyright

FireFox Layout Issues for Experiment Page
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/globals.css
Due: prettier

doc: add notion of inputs and limits to create or update view
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
Due: ruff, pyright

fix: replace pagination template in query test
  backend/protocol/api/_services/view_service.py
Due: ruff, pyright

feat: remove previous get_experiment_output tool
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_router.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/experiment_service.py
  backend/protocol/api/_services/playground_service.py
  backend/tests/components/_common.py
  backend/tests/components/playground_test.py
  docs/content/docs/foundations.mdx
Due: ruff, pyright

jacek/GitHub-171 Implement pagination and row limits for completions queries
  web/src/app/completions/page.tsx
  web/src/app/completions/sections/table/CompletionsTable.tsx
  web/src/app/views/[id]/page.tsx
  web/src/components/SimplePagination.tsx
  web/src/utils/__tests__/pagination.test.ts
  web/src/utils/__tests__/queries.test.ts
  web/src/utils/pagination.ts
  web/src/utils/queries.ts
Due: prettier

fix for prettier
  web/src/utils/__tests__/pagination.test.ts
  web/src/utils/__tests__/queries.test.ts
Due: prettier

Expose experiment updated_at field in API and display in frontend
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  web/src/app/experiments/sections/table/ExperimentsTable.tsx
  web/src/types/models.ts
Due: ruff, pyright, prettier

Fix missing reasoning_token_count and cached_token_count in API responses
  backend/protocol/api/_services/conversions.py
Due: ruff, pyright

Add explicit usage instruction to create_or_update_view MCP tool
  backend/protocol/api/_mcp.py
Due: ruff, pyright

Fixes for the new names of variables and wrong query in views
  web/src/app/views/[id]/page.tsx
  web/src/utils/__tests__/pagination.test.ts
  web/src/utils/__tests__/queries.test.ts
  web/src/utils/pagination.ts
  web/src/utils/queries.ts
Due: prettier

Fix bug in add_inputs_to_experiment: only create completions for newly inserted inputs
  backend/protocol/api/_services/playground_service.py
Due: ruff, pyright

Fixes for prettier
  web/src/utils/__tests__/pagination.test.ts
Due: prettier

Fixes for Prettier
  web/src/app/layout.tsx
Due: prettier

GitHub-266 Experiment Page change matching content to Similar parameters
  web/src/app/experiments/[id]/sections/matching/HeaderMatchingSection.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingSection.tsx
Due: prettier

GitHub-268 Wrappend Sidebar
  web/src/app/layout.tsx
  web/src/auth/clerk/UserButton.tsx
  web/src/auth/noauth/components.tsx
  web/src/components/LayoutContent.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/components/sidebar/WrappedNavigationSidebar.tsx
  web/src/hooks/useCookieState.ts
  web/src/lib/server-cookies.ts
Due: prettier

test: add test_only_starting_completions_for_inserted_ids
  backend/protocol/api/_services/playground_service_test.py
Due: ruff, pyright

chore: deploy to prod on main merge
  .github/workflows/production.yml
Due: none

fix: libexpat vuln
  .github/workflows/.build-azure.yml
  backend.Dockerfile
Due: none

fix: typo
  backend.Dockerfile
Due: none

doc: update foundations for the new tools
  docs/content/docs/foundations.mdx
Due: none

fix: make prompt required
  backend/protocol/api/_services/playground_service.py
  backend/protocol/api/_services/playground_service_test.py
Due: ruff, pyright

feat: make experiments return completion query
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/experiment_service.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

fix: increase cache timeout in experiments
  backend/core/services/completion_runner.py
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/completion_storage.py
  backend/protocol/api/_services/playground_service.py
Due: ruff, pyright

test: fix component test post get_experiment change
  backend/tests/components/_common.py
  backend/tests/components/run/run_test.py
Due: ruff, pyright

feat: add cost usd and original_duration_seconds in cached completions
  backend/core/services/completion_runner.py
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/storage/completion_storage.py
Due: ruff, pyright

fix: add cached cost usd and duration to experiments
  backend/core/storage/clickhouse/migrations/1_completions.sql
  backend/protocol/api/_services/experiment_service.py
Due: ruff, pyright

fix: coalesce metadata in experiment
  backend/core/storage/clickhouse/migrations/1_completions.sql
  backend/protocol/api/_services/experiment_service.py
Due: ruff, pyright

Back arrow button added
  web/src/components/sidebar/WrappedNavigationSidebar.tsx
Due: prettier

feat: add input queries to experiment
  backend/.claude/settings.local.json
  backend/protocol/api/_api_models.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/experiment_service.py
  backend/tests/components/playground_test.py
Due: ruff, pyright

wip: experimetn with manual pagination
  backend/.claude/settings.local.json
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_mcp_utils_test.py
  backend/protocol/api/_services/experiment_service.py
  pyproject.toml
  uv.lock
Due: ruff, pyright

Improve get_experiment pagination documentation
  backend/protocol/api/_mcp.py
Due: ruff, pyright

AAI-91 number of total completions on overview page doesnt match total completions count on detail page
  web/src/app/agents/sections/table/AgentsTable.tsx
  web/src/store/agents_stats.ts
Due: prettier

feat: improve chunking
  backend/.claude/settings.local.json
  backend/core/storage/experiment_storage.py
  backend/core/storage/psql/psql_experiment_storage.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_mcp_utils_test.py
  backend/protocol/api/_services/experiment_service.py
Due: ruff, pyright

feat: update documentation of experiment queries
  backend/protocol/api/_mcp.py
Due: ruff, pyright

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
