Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

Fix for parsing strings and numbers
  web/src/components/utils/utils.ts
Due: prettier

Prettier fixes
  web/src/components/utils/utils.ts
Due: prettier

clean up pricing page and make visible so link on main page works
  docs/content/docs/meta.json
  docs/content/docs/pricing.mdx
Due: none

feat: connect authorization header
  .env.example
  backend/core/utils/background.py
  backend/protocol/api/_dependencies/_tenant.py
  backend/protocol/api/_services/security_service.py
Due: ruff, pyright

feat: updated doc of self hosted setup
  docs/content/docs/self-hosted.mdx
Due: none

test: fix security service test
  backend/protocol/api/_services/security_service.py
  backend/protocol/api/_services/security_service_test.py
Due: ruff, pyright

fix: remove experimental reverse order
  backend/core/storage/clickhouse/migrations/2_annotations.sql
  backend/core/storage/clickhouse/migrations/3_experiments.sql
Due: pyright

feat: add production deploy
  .github/workflows/.build-azure.yml
  .github/workflows/.deploy.yml
  .github/workflows/production.yml
Due: none

fix: restore backend-build depends on quality
  .github/workflows/production.yml
Due: none

fix: deployment prefix
  backend/protocol/api/_services/run/run_service.py
  backend/protocol/api/_services/run/run_service_test.py
  backend/tests/components/deployments_test.py
Due: ruff, pyright

fix: regexp not using aai prefi
  backend/protocol/api/_services/run/run_service.py
Due: ruff, pyright

fix: remove clerk properties overrides
  web/src/auth/clerk/components.tsx
Due: prettier

fix: remove sign up modal
  web/src/auth/clerk/components.tsx
Due: prettier

fix: switch to yarn
  .gitignore
  .vscode/settings.json
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier

fix: replace npm commands
  .github/workflows/.doc-quality.yml
  .github/workflows/.web-quality.yml
  CLAUDE.md
  docs.Dockerfile
  web.Dockerfile
Due: none

fix: prettier missing for docs
  docs/package.json
  yarn.lock
Due: none

fix: clickhouse pws as sha256
  backend/core/storage/clickhouse/_utils.py
Due: ruff, pyright

feat: add db conf
  docs/content/docs/self-hosted.mdx
Due: none

fix: missing tenant uid in exp count
  backend/core/storage/psql/psql_experiment_storage.py
Due: ruff, pyright

fix: in memory broker lifecycle
  backend/protocol/_common/broker_utils.py
  backend/protocol/api/api_server.py
  backend/protocol/worker/worker.py
  backend/tests/components/conftest.py
Due: ruff, pyright

feat: add deploy worker
  .github/workflows/production.yml
  .vscode/launch.json
Due: none

fix: add missing probes
  backend/protocol/_common/probes_router.py
Due: ruff, pyright

add self host guide setup link to sidebar
  docs/content/docs/meta.json
Due: none

fix: remove label for worker deploy
  .github/workflows/production.yml
Due: none

fix: race conditions
  backend/core/storage/psql/_psql_base_storage.py
  backend/core/storage/psql/psql_agent_storage.py
  backend/core/storage/psql/psql_agent_storage_test.py
Due: ruff, pyright

fix: apply prettier formatting to docs/content/docs/meta.json
  docs/content/docs/meta.json
Due: none

fix: update doc for mcp url
  README.md
  docs/content/docs/index.mdx
Due: none

fix: claude command
  README.md
  docs/content/docs/index.mdx
Due: none

AAI-42 Times are displayed directly from the database in UTC
  web/src/app/completions/sections/table/cells/CompletionTableDateCell.tsx
  web/src/app/deployments/[id]/components/DeploymentInfoSection.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/components/utils/utils.ts
Due: prettier

Prettier fixes
  web/src/app/completions/sections/table/cells/CompletionTableDateCell.tsx
  web/src/components/utils/utils.ts
Due: prettier

feat: add oauth for mcp
  backend/core/consts.py
  backend/protocol/api/_dependencies/_tenant.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/security_service.py
  backend/protocol/api/_services/security_service_test.py
  backend/protocol/api/_well_known_router.py
  backend/protocol/api/api_server.py
  backend/tests/components/conftest.py
  examples/quickstart/INSTRUCTIONS.md
  pyproject.toml
  uv.lock
Due: ruff, pyright

Fixes for tests
  package-lock.json
  web/jest.config.js
  web/jest.setup.js
  web/package.json
  web/src/lib/__tests__/queryString.test.ts
  yarn.lock
Due: prettier

feat: add completion import route
  backend/core/utils/uuid.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_router.py
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_services/completion_service.py
  backend/protocol/api/_services/conversions.py
  backend/tests/components/completions_test.py
Due: ruff, pyright

fix: from review
  docs/content/docs/inference/modalities.mdx
Due: none

fix: jest tests
  .vscode/settings.json
  package.json
  web/jest.config.ts
  web/package.json
  yarn.lock
Due: prettier

Revert "Fixes for tests"
  package-lock.json
  web/jest.config.js
  web/jest.setup.js
  web/package.json
  web/src/lib/__tests__/queryString.test.ts
  yarn.lock
Due: prettier

fix: enable jest extension
  .vscode/settings.json
Due: none

feat: add deploy to staging env
  .github/workflows/.azure-build-deploy.yml
  .github/workflows/staging.yml
Due: none

AAI-43 Not possible to create or select organizations
  web/src/auth/clerk/UserButton.tsx
  web/src/components/Modal.tsx
Due: prettier

Removed not used console logs
  web/src/store/deployments.ts
Due: prettier
