Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

New copy
  web/src/app/agents/[agentId]/components/AgentSummarySection.tsx
  web/src/app/completions/sections/table/cells/CompletionTableCell.tsx
  web/src/app/metrics/components/MetricsSummary.tsx
  web/src/components/MetricItem.tsx
  web/src/components/completion-modal/TracesView.tsx
  web/src/components/completion-modal/completion-trace/TraceAgentEntry.tsx
  web/src/components/completion-modal/completion-trace/TraceCompletionEntry.tsx
  web/src/components/messages/MessageMetricsDisplay.tsx
Due: prettier

Dynamic number sclaing and single cost without per 1k
  web/src/app/completions/sections/table/cells/CompletionTableCell.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionCell.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/components/MetricItem.tsx
  web/src/components/MetricsDisplay.tsx
  web/src/components/completion-modal/TracesView.tsx
  web/src/components/completion-modal/completion-trace/TraceAgentEntry.tsx
  web/src/components/completion-modal/completion-trace/TraceCompletionEntry.tsx
  web/src/components/messages/MessageMetricsDisplay.tsx
Due: prettier

feat: implement psql tenant storage methods
  backend/core/domain/exceptions.py
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_tenant_storage_test.py
Due: ruff, pyright

test: fix stripe service test
  backend/core/services/stripe/stripe_service_test.py
Due: ruff, pyright

test: add stripe webhook tests
  backend/core/services/stripe/stripe_service_test.py
Due: ruff, pyright

test: fix tenant storage tests
  backend/core/services/clerk/clerk_user_manager_test.py
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_tenant_storage_test.py
  backend/core/storage/tenant_storage.py
Due: ruff, pyright

fix: payment router strip service dep
  backend/protocol/api/_payment_router.py
Due: ruff, pyright

fix borken links in documentation
  docs/content/docs/getting-started.mdx
  docs/content/docs/pricing.mdx
Due: none

feat: add email to claim
  backend/protocol/api/_services/security_service.py
Due: ruff, pyright

feat: add base credits for new tenants
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_tenant_storage_test.py
Due: ruff, pyright

Fixes after Merge
  web/src/auth/base.ts
  web/src/auth/clerk/components.tsx
  web/src/auth/noauth/components.tsx
  web/src/components/CircularProgress.tsx
  web/src/components/sidebar/CreditsSection.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  yarn.lock
Due: prettier

Old Button Version was removed
  web/src/components/auth/UserButton.tsx
Due: prettier

Old unused file removed
  web/src/components/PriceAndLatencyDisplay.tsx
Due: prettier

CreditsSection only available under Clerk
  web/src/auth/clerk/CreditsSection.tsx
  web/src/auth/clerk/components.tsx
Due: prettier

update docs to mention PDFs, add clearer image section to non-text inputs page
  backend/protocol/api/_mcp.py
  docs/content/docs/features/meta.json
  docs/content/docs/features/non-text-inputs.mdx
Due: ruff, pyright

fix incomplete sentence
  docs/content/docs/features/non-text-inputs.mdx
Due: none

upddate o3's supports_input_pdf value to false
  backend/core/domain/models/model_data_mapping.py
Due: ruff, pyright

New Backend Connection
  web/src/auth/clerk/CreditsSection.tsx
  web/src/components/payment-modal/PaymentModalWrapper.tsx
  web/src/components/payment-modal/hooks/useStripePayments.tsx
  web/src/components/stripe/StripeProvider.tsx
  web/src/store/billing.ts
  web/src/store/mocked_payments.ts
  web/src/types/models.ts
Due: prettier

update image agents docs images
  docs/content/docs/use-cases/image-agents.mdx
  docs/public/images/cost-optimization-experiment-food-analyzer.png
  docs/public/images/experiment-prompt-enhancement-terminal-food-analyzer.png
  docs/public/images/experiment-prompts-comparison-food-analyzer.png
  docs/public/images/fast-models-experiment-food-analyzer.png
  docs/public/images/model-comparison-experiment-food-analyzer.png
  docs/public/images/temperature-experiment-food-analyzer.png
Due: none

update prompts to match new images
  docs/content/docs/use-cases/image-agents.mdx
Due: none

update pdf extraction docs images and prompts
  docs/content/docs/use-cases/pdf-processing-agents.mdx
  docs/public/images/pdf-extraction-fast-models.png
  docs/public/images/pdf-extraction-low-cost.png
  docs/public/images/pdf-extraction-new-model.png
  docs/public/images/pdf-extraction-prompt-compare.png
  docs/public/images/pdf-extraction-prompt-enhancement-terminal.png
  docs/public/images/pdf-extraction-temperature-experiment.png
Due: none

feat: payment ui
  web/eslint.config.mjs
  web/package.json
  web/src/components/CircularProgress.tsx
  web/src/components/CreditsSection.tsx
  web/src/components/payment-modal/AmountToAddSection.tsx
  web/src/components/payment-modal/AutomaticPaymentsSection.tsx
  web/src/components/payment-modal/BottomButtonBar.tsx
  web/src/components/payment-modal/CreditBalanceSection.tsx
  web/src/components/payment-modal/DeletePaymentMethodModal.tsx
  web/src/components/payment-modal/EnableAutoRechargeContent.tsx
  web/src/components/payment-modal/InfoLabel.tsx
  web/src/components/payment-modal/PaymentMethodSection.tsx
  web/src/components/payment-modal/PaymentModal.tsx
  web/src/components/payment-modal/PaymentsFailedInfoLabel.tsx
  web/src/components/payment-modal/hooks/useStripePayments.tsx
  web/src/components/payment-modal/stripe/AddPaymentMethodContent.tsx
  web/src/components/payment-modal/stripe/PaymentModalContent.tsx
  web/src/components/payment-modal/stripe/PaymentModalWrapper.tsx
  web/src/components/payment-modal/stripe/StripeProvider.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/store/billing.ts
  web/src/types/models.ts
  yarn.lock
Due: prettier

feat: add tenant data route
  backend/protocol/api/_api_models.py
  backend/protocol/api/_api_router.py
  backend/protocol/api/_services/conversions.py
  web/src/components/CreditsSection.tsx
  web/src/components/payment-modal/AutomaticPaymentsSection.tsx
  web/src/components/payment-modal/EnableAutoRechargeContent.tsx
  web/src/components/payment-modal/stripe/PaymentModalContent.tsx
  web/src/store/billing.ts
  web/src/types/models.ts
Due: ruff, pyright, prettier

fix: missing customer id
  backend/core/domain/tenant_data.py
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_tenant_storage_test.py
  backend/protocol/api/_api_models.py
  web/src/components/payment-modal/hooks/useStripePayments.tsx
  web/src/store/billing.ts
Due: ruff, pyright, prettier

GitHub-360 Error on experiment Cannot read properties of undefined (reading map)
  web/src/types/models.ts
Due: prettier

GitHub-359 Confusing display of user message with image_url variable
  web/src/components/messages/MessageContentView.tsx
  web/src/components/messages/UniversalFileViewer.tsx
Due: prettier

GitHub-370 Add Deployment ID as the first row in Table on Deployment Page
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/completion-modal/InfoRow.tsx
Due: prettier

feat: add decrement credits
  backend/core/domain/events.py
  backend/core/domain/exceptions.py
  backend/core/domain/tenant_data.py
  backend/core/services/payment_service.py
  backend/core/services/stripe/stripe_service.py
  backend/core/services/stripe/stripe_service_test.py
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/tenant_storage.py
  backend/protocol/_common/lifecycle.py
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_payment_router.py
Due: ruff, pyright

feat: add unlock payment
  backend/core/domain/tenant_data.py
  backend/core/domain/tenant_data_test.py
  backend/core/services/payment_service.py
  backend/core/services/stripe/stripe_service.py
  backend/core/storage/psql/psql_tenant_storage.py
  backend/core/storage/psql/psql_tenant_storage_test.py
  backend/core/storage/tenant_storage.py
  backend/protocol/_common/lifecycle.py
  backend/protocol/api/_dependencies/_tenant.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_run_router.py
  backend/protocol/worker/_dependencies.py
Due: ruff, pyright

fix: event router dependency
  backend/protocol/api/_payment_router.py
  backend/tests/components/_common.py
  backend/tests/components/payments_test.py
Due: ruff, pyright

fix: connect payment updated event
  backend/core/services/stripe/stripe_service.py
  backend/protocol/_common/_default_event_router.py
  backend/protocol/_common/lifecycle.py
  backend/protocol/worker/tasks/payment_updated_tasks.py
  backend/tests/components/_common.py
  backend/tests/components/conftest.py
  backend/tests/components/payments_test.py
Due: ruff, pyright

GitHub-372 Issues with the Automatic Payments
  web/src/components/payment-modal/AutomaticPaymentsSection.tsx
  web/src/components/payment-modal/EnableAutoRechargeContent.tsx
  web/src/store/billing.ts
Due: prettier

Fixes for Prettier
  web/src/components/payment-modal/EnableAutoRechargeContent.tsx
Due: prettier

GitHub-370 Add Deployment ID as the first row in Table on Deployment Page
  web/src/app/deployments/[id]/components/DeploymentInfoSection.tsx
Due: prettier

Cannot read properties of undefined (reading 'map') error protections
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/matching/MatchingSection.tsx
  web/src/app/experiments/[id]/utils.ts
  web/src/types/models.ts
Due: prettier

test: fix test_with_response_format
  backend/protocol/api/_mcp_test.py
Due: ruff, pyright

Supporting empty versions experiments
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
Due: prettier

feat: clarify deployment id in create or update deployment
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/conversions_test.py
Due: ruff, pyright

feat: add claude 4.5 sonnet
  backend/core/domain/models/model_data_mapping.py
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/domain/models/models.py
Due: ruff, pyright

fix: retire some old anthropic models
  backend/core/domain/models/model_data_mapping.py
  backend/core/domain/models/model_provider_data_mapping.py
Due: ruff, pyright

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
