Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: formatting and linting (ruff)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: true
        types: [file, python]
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: ^backend/
        pass_filenames: false
        args: [backend]
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx]

doc: add mention of test in check schema output compat disclaimer
  backend/protocol/api/_services/run/run_service.py
Due: ruff, pyright

AAI-66 Horizontal Scroll for Experiments
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/globals.css
  web/src/components/TableComponent/TableComponent.tsx
  web/src/components/TableComponent/index.ts
  web/src/components/TableComponent/useScrollbarPositioning.ts
Due: prettier

fix for error
  web/src/components/TableComponent/useScrollbarPositioning.ts
Due: prettier

doc: fix deployment id mismatch when migrating from WAI
  docs/content/docs/migrate-from-workflowai.mdx
Due: none

fix: openai basemodel import in test
  backend/tests/components/deployments_test.py
Due: ruff, pyright

doc: add golang documentation to foundation
  backend/core/agents/search_documentation.py
  backend/core/agents/suggest_model.py
  docs/content/docs/foundations.mdx
Due: ruff, pyright

fix: add groupID to foundations doc
  docs/content/docs/foundations.mdx
Due: none

AAI-61 Infinite loading state in detail view after logging out
  web/src/app/layout.tsx
Due: prettier

Potential fixes
  web/src/app/globals.css
  web/src/components/TableComponent/TableComponent.tsx
  web/src/components/TableComponent/useScrollbarPositioning.ts
Due: prettier

Fixes for prettier
  web/src/components/TableComponent/useScrollbarPositioning.ts
Due: prettier

feat: add go code samples
  docs/content/docs/foundations.mdx
  docs/content/docs/migrate-from-workflowai.mdx
  docs/content/docs/partials/openai-go-code.mdx
Due: none

AAI-68 Hide Created_by and Last_used in API keys modal for now
  web/src/components/api-keys-modal/ApiKeysList.tsx
Due: prettier

Add comprehensive docstring for list_models MCP tool
  backend/protocol/api/_mcp.py
Due: ruff, pyright

feat: add go code samples
  docs/content/docs/partials/openai-go-code.mdx
Due: none

fix: inconsistencies in deployment ids
  docs/content/docs/deployments/index.mdx
  docs/content/docs/deployments/step-by-step-guide.mdx
  docs/content/docs/examples/use-cases.mdx
  docs/content/docs/foundations.mdx
  docs/content/docs/inference/caching.mdx
Due: none

doc: add go code for wai migration
  docs/content/docs/migrate-from-workflowai.mdx
Due: none

Clarify version_model field relationship with list_models
  backend/protocol/api/_mcp.py
Due: ruff, pyright

fix: deployment section
  docs/content/docs/foundations.mdx
Due: none

Link list_models id field to query_completions version_model
  backend/protocol/api/_mcp.py
Due: ruff, pyright

Add comprehensive tool description for list_models MCP tool (#161)
  backend/protocol/api/_mcp.py
Due: ruff, pyright

AAI-69 Pagination support for Deployments Page
  web/src/app/deployments/page.tsx
  web/src/app/deployments/sections/table/DeploymentsTable.tsx
  web/src/store/deployments.ts
Due: prettier

Update docs/content/docs/index.mdx
  docs/content/docs/index.mdx
Due: none

Comment out placeholder video section in docs index
  docs/content/docs/index.mdx
Due: none

Update AnotherAI overview copy to be agent-first (#147)
  .claude/agents/docs-reviewer.md
  docs/content/docs/index.mdx
Due: none

Improve clarity of AI engineer messaging in docs
  docs/content/docs/index.mdx
Due: none

Improve clarity of AI engineer messaging in docs (#166)
  docs/content/docs/index.mdx
Due: none

GitHub-168 Frontend displays Invalid Date for week column in table views with toStartOfWeek
  web/src/components/utils/utils.ts
Due: prettier

GitHub-170 Adjust copy of copiable prompt that shows after annotations are left on experiments
  web/src/app/experiments/[id]/page.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructions.tsx
Due: prettier

fixes fro prettier
  web/src/components/utils/utils.ts
Due: prettier

fixes for PRettier
  web/src/app/experiments/[id]/page.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructions.tsx
Due: prettier

AAI-70 add the  examples description on the output schema on the experimentation page
  web/src/app/experiments/[id]/sections/Results/version/VersionSchemaSection.tsx
Due: prettier

AAI-64 Show Reasoning Effort
  web/src/app/completions/sections/table/cells/CompletionTableVersionCell.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderModel.tsx
  web/src/components/ModelIcon.tsx
  web/src/components/version-details/VersionDetailsView.tsx
  web/src/types/models.ts
Due: prettier

fix: groq schema serialization in message
  backend/core/runners/runner.py
  backend/tests/components/_common.py
  backend/tests/components/run/_base.py
  backend/tests/components/run/run_test.py
  backend/tests/fixtures/groq/structured_output.json
Due: ruff, pyright

AAI-65 Show Token Information
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/completion-modal/InfoRow.tsx
  web/src/components/completion-modal/TracesView.tsx
  web/src/types/models.ts
Due: prettier

fix: better handle clickhouse errors
  backend/core/domain/exceptions.py
  backend/core/storage/clickhouse/_utils_test.py
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/utils/strings.py
  backend/core/utils/strings_test.py
  backend/protocol/api/_mcp_utils.py
  backend/tests/components/completions_test.py
Due: ruff, pyright

fix: better error message in invalid deployment
  backend/core/agents/suggest_model.py
  backend/core/services/models_service.py
  backend/core/storage/deployment_storage.py
  backend/core/storage/psql/psql_deployment_storage.py
  backend/core/storage/psql/psql_deployment_storage_test.py
  backend/protocol/api/_services/run/run_service.py
  backend/protocol/api/_services/run/run_service_test.py
Due: ruff, pyright

AAI-59 Add info button next to add annotations button
  web/src/components/annotations/AnnotationsView.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructions.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructionsContent.tsx
Due: prettier

AAI-74 Tab order change
  web/src/components/sidebar/NavigationSidebar.tsx
Due: prettier

feat: support input in metadata and dash messages
  backend/protocol/api/_services/run/run_service.py
  backend/protocol/api/_services/run/run_service_test.py
Due: ruff, pyright

doc: add migration doc for agent sdk
  docs/content/docs/migrate-from-workflowai.mdx
Due: none
