Repository anotherai-dev/anotherai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, prettier

ruff:
  name: formatting and linting (ruff)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - backend

prettier:
  name: prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true

docs: Improve workflow metadata documentation with trace_id and workflow_name
  docs/content/docs/workflows/index.mdx
Due: none

fix example prompt phrasing to be more consistent
  docs/content/docs/workflows/index.mdx
Due: none

Add agent building steps and address assorted code review requests
  docs/content/docs/agents/building.mdx
  docs/content/docs/agents/debugging.mdx
  docs/content/docs/agents/evaluating.mdx
  docs/content/docs/agents/improving.mdx
  docs/content/docs/agents/migrating.mdx
Due: none

Payments Support
  package-lock.json
  web/package.json
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/views/[id]/components/EditViewTooltip.tsx
  web/src/components/CircularProgress.tsx
  web/src/components/HoverPopover.tsx
  web/src/components/VariablesViewer/HoverContainer.tsx
  web/src/components/auth/UserButton.tsx
  web/src/components/payment-modal/AddPaymentMethodContent.tsx
  web/src/components/payment-modal/AmountToAddSection.tsx
  web/src/components/payment-modal/AutomaticPaymentsSection.tsx
  web/src/components/payment-modal/BottomButtonBar.tsx
  web/src/components/payment-modal/CreditBalanceSection.tsx
  web/src/components/payment-modal/DeletePaymentMethodModal.tsx
  web/src/components/payment-modal/EnableAutoRechargeContent.tsx
  web/src/components/payment-modal/InfoLabel.tsx
  web/src/components/payment-modal/PaymentMethodSection.tsx
  web/src/components/payment-modal/PaymentModal.tsx
  web/src/components/payment-modal/PaymentModalContent.tsx
  web/src/components/payment-modal/PaymentModalWrapper.tsx
  web/src/components/payment-modal/PaymentsFailedInfoLabel.tsx
  web/src/components/payment-modal/hooks/useStripePayments.tsx
  web/src/components/sidebar/CreditsSection.tsx
  web/src/components/sidebar/NavigationSidebar.tsx
  web/src/components/sidebar/ViewsSection.tsx
  web/src/components/stripe/StripeProvider.tsx
  web/src/components/stripe/StripeWrapper.tsx
  web/src/lib/constants.ts
  web/src/store/mocked_payments.ts
  web/src/types/models.ts
Due: prettier

prettier fixes
  web/src/components/PriceAndLatencyDisplay.tsx
Due: prettier

Fixes for Prettier
  web/src/components/PriceAndLatencyDisplay.tsx
  web/src/components/payment-modal/AddPaymentMethodContent.tsx
  web/src/components/payment-modal/PaymentModal.tsx
  web/src/components/payment-modal/PaymentModalWrapper.tsx
  web/src/components/payment-modal/hooks/useStripePayments.tsx
  web/src/components/stripe/StripeProvider.tsx
  web/src/components/stripe/StripeWrapper.tsx
  web/src/lib/constants.ts
Due: prettier

fix for navigation sidebar
  web/src/components/LayoutContent.tsx
Due: prettier

Fixes
  web/src/components/LayoutContent.tsx
  web/src/components/payment-modal/PaymentModalWrapper.tsx
  web/src/components/stripe/StripeProvider.tsx
  web/src/components/stripe/StripeWrapper.tsx
Due: prettier

add link to anthropic article about different agents and workflows
  docs/content/docs/workflows/index.mdx
Due: none

jacek/39 38 37 36 35 32 31 fixes
  web/src/app/experiments/[id]/sections/Results/MatrixSection.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionCell.tsx
  web/src/app/experiments/[id]/sections/Results/completion/CompletionMetrics.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderMetrics.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeaderPriceAndLatency.tsx
  web/src/components/HoverPopover.tsx
  web/src/components/PriceAndLatencyDisplay.tsx
  web/src/components/SchemaViewer.tsx
  web/src/components/completion-modal/CompletionDetailsView.tsx
  web/src/components/completion-modal/CompletionModal.tsx
  web/src/components/utils/utils.ts
  web/src/utils/queries.ts
Due: prettier

separate hosted and self host instructions into two pages
  docs/content/docs/self-hosted.mdx
Due: none

add end-user feedback set up and llm as a judge to documentation
  docs/content/docs/agents/evaluating.mdx
  docs/content/docs/agents/improving.mdx
Due: none

TENTATIVE adjustment to explain using production data
  docs/content/docs/agents/evaluating.mdx
Due: none

prettier fixes
  web/src/components/completion-modal/CompletionModal.tsx
Due: prettier

jacek/AAI-23 No variables defined showing on agents page when there are variables
  web/src/store/agent_stats.ts
Due: prettier

AII-17 In app hints
  web/src/app/agents/[agentId]/page.tsx
  web/src/app/completions/page.tsx
  web/src/app/experiments/[id]/page.tsx
  web/src/app/experiments/[id]/sections/Results/version/VersionHeader.tsx
  web/src/app/views/[id]/components/EditViewTooltip.tsx
  web/src/components/HeaderSection.tsx
  web/src/components/PageHeader.tsx
  web/src/components/auth/SignedOut.tsx
  web/src/components/completion-modal/CompletionModal.tsx
  web/src/components/completion-modal/FilterCompletionsInstructions.tsx
  web/src/components/completion-modal/ImproveCompletionInstructions.tsx
  web/src/components/experiment/DeployVersionInstructions.tsx
  web/src/components/experiment/ExperimentInstructions.tsx
  web/src/components/experiment/ImproveAgentAnnotationsInstructions.tsx
  web/src/components/sidebar/CreateViewInstructions.tsx
  web/src/components/sidebar/ViewsSection.tsx
Due: prettier

Update docs/content/docs/agents/debugging.mdx
  docs/content/docs/agents/debugging.mdx
Due: none

fix debugging instructions to include other use case and fix typo
  docs/content/docs/agents/debugging.mdx
Due: none

fix: tabitem vs tab
  docs/content/docs/inference/modalities.mdx
Due: none

doc: explicit my-agent-id in deployment ID example
  backend/protocol/api/_api_models.py
Due: ruff, pyright

doc: remove web ui in create deployment step
  docs/content/docs/deployments/index.mdx
Due: none

fix: switch deployment soft delete to post
  backend/protocol/api/api_router.py
Due: ruff, pyright

fix: add missing deployment_id in create_or_update_deployment
  backend/protocol/api/_mcp.py
Due: ruff, pyright

feat: add missing agent id to list deployments
  backend/protocol/api/_mcp.py
Due: ruff, pyright

fix: remove old completion_id deployment dir
  web/src/app/deployments/[completion_id]/page.tsx
Due: prettier

feat: add domain models and storage for deployments
  backend/core/domain/deployment.py
  backend/core/storage/deployment_storage.py
  backend/protocol/api/_run_models.py
  backend/protocol/api/_services/run/__init__.py
  backend/protocol/api/_services/run/_run_conversions.py
  backend/protocol/api/_services/run/_run_conversions_test.py
  backend/protocol/api/_services/run/run_service.py
  backend/protocol/api/_services/run/run_service_test.py
Due: ruff, pyright

feat: add schema compat functions
  backend/core/utils/schemas.py
  backend/core/utils/schemas_test.py
Due: ruff, pyright

feat: add version validate methods
  backend/core/domain/version.py
  backend/core/domain/version_test.py
Due: ruff, pyright

feat: add prepare_for_deployment tests
  backend/protocol/api/_services/run/run_service.py
  backend/protocol/api/_services/run/run_service_test.py
Due: ruff, pyright

feat: add deployment validation to run service
  backend/protocol/api/_services/run/run_service.py
  backend/protocol/api/_services/run/run_service_test.py
Due: ruff, pyright

feat: write basic deployment service
  backend/core/domain/deployment.py
  backend/core/storage/deployment_storage.py
  backend/core/storage/storage_builder.py
  backend/protocol/api/_api_models.py
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_mcp.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/_services/_urls.py
  backend/protocol/api/_services/conversions.py
  backend/protocol/api/_services/deployment_service.py
  backend/protocol/api/_services/deployment_service_test.py
  backend/protocol/api/api_router.py
Due: ruff, pyright

feat: add get_version to clickhouse client
  backend/core/storage/clickhouse/clickhouse_client.py
  backend/core/storage/clickhouse/clickhouse_client_test.py
  backend/core/storage/completion_storage.py
Due: ruff, pyright

feat: implement deployment service
  backend/core/domain/deployment.py
  backend/core/storage/_default_storage_builder.py
  backend/protocol/api/_services/deployment_service.py
  backend/protocol/api/_services/deployment_service_test.py
  backend/tests/fake_models.py
Due: ruff, pyright

feat: add deployment storage
  backend/core/storage/psql/conftest.py
  backend/core/storage/psql/migrations/6_deployments.sql
  backend/core/storage/psql/psql_deployment_storage.py
  backend/core/storage/psql/psql_deployment_storage_test.py
Due: ruff, pyright

fix: types
  backend/protocol/api/_dependencies/_services.py
  backend/protocol/api/_mcp_utils.py
  backend/protocol/api/run_router.py
Due: ruff, pyright

fix: issues with deployment storage
  backend/core/storage/psql/migrations/6_deployments.sql
  backend/core/storage/psql/psql_deployment_storage.py
  backend/core/storage/psql/psql_deployment_storage_test.py
  backend/tests/fake_models.py
Due: ruff, pyright

fix: missing replacement model for gemini 1.5 pro
  backend/core/domain/models/model_provider_data_mapping.py
  backend/core/domain/models/model_provider_data_mapping_test.py
Due: ruff, pyright

fix: error messages f strings
  backend/protocol/api/_services/deployment_service.py
Due: ruff, pyright

AAI-24 Navigation for completions with the same trace_id
  backend/protocol/api/_services/playground_service.py
  package-lock.json
  web.Dockerfile
  web/package.json
  web/src/components/completion-modal/CompletionModal.tsx
  web/src/components/completion-modal/completion-trace/CompletionTraceView.tsx
  web/src/components/completion-modal/completion-trace/TraceAgentEntry.tsx
  web/src/components/completion-modal/completion-trace/TraceCompletionEntry.tsx
  web/src/components/completion-modal/completion-trace/TraceModelEntry.tsx
  web/src/hooks/useTraceCompletions.ts
Due: ruff, pyright, prettier

add note about different dataset types
  docs/content/docs/agents/evaluating.mdx
Due: none

Path conditions:
  ruff: any of: \.py$
  pyright: any of: ^backend/
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
